<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    	<a class="btn btn-primary btn-lg active" role="button" aria-pressed="false" th:href="@{/home.html}" th:text="#{label.pages.home.title}">home</a>
		<a class="btn btn-primary btn-lg active" role="button" aria-pressed="false" th:href="@{/addHospital}" th:text="#{label.hospital.add}">New Hospital</a>
		<a class="btn btn-primary btn-lg active" role="button" aria-pressed="false" th:href="@{/addDoctor}" th:text="#{label.doctor.add}">New Doctor</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
		<li><p class="btn btn-primary btn-lg active" role="button" aria-pressed="false" th:if="${param.user} != null" th:text="${param.user[0]}">user</p></li>
		<li><a class="btn btn-primary btn-lg active" role="button" aria-pressed="false" th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a></li>
      </ul>
    </div>
</nav>

