<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/jpg" sizes="60x50" href="resources/favicon.jpeg"/>
<div th:replace="header :: header-css" />
	<script src="resources/js/agriculture/agriculture.js"></script>
</head>
<body>
   	<div id="container" class="wrapper">
		<div th:replace="header :: header"/>
	    <div id="content">
			<nav class="subnav" id="nav-subheader">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<div class="navbar-header active">
							<p style="color: lightskyblue; padding-top: 17px"
								class="glyphicon glyphicon-user" th:if="${param.user} != null"
								th:text="${param.user[0]}">User</p>
						</div>
						<li>
							<select name="registrationType" id="registrationType" class="dropdown show panel-heading">
								<option class="dropdown-item" value="">Nothing Selected</option>
								<option sec:authorize="hasAuthority('SUPER_PRIVILEGE')" class="dropdown-item" value="landDiv">Register Land</option>
								<option sec:authorize="hasAuthority('SUPER_PRIVILEGE')" class="dropdown-item" value="agricultureExpenseDiv">Add Expense</option>
								<option sec:authorize="hasAuthority('SUPER_PRIVILEGE')" class="dropdown-item" value="agricultureIncomeDiv">Add Income</option>
		<!-- 						<option sec:authorize="hasAuthority('READ_AGRICULTURE_EXPENSE')" class="dropdown-item" value="DonationsDiv">View Expense</option>
								<option sec:authorize="hasAuthority('READ_AGRICULTURE_INCOME')" class="dropdown-item" value="DonationsDiv">View Income</option>
		 -->					</select>
						</li>
					</ul>					
				</div>
			</nav>
			<div id="agricultureExpenseDiv" class="formDiv" style="display:none">
				<h4 th:text="#{label.expense.form.heading}">Expense Form</h4>
				<form action="/" method="POST" class="form-horizontal" role="form"
					enctype="utf8" id="AgricultureExpense" autocomplete="off">
					<div class="form-group" style="display: none">
						<label class="control-label col-lg-2" for="expenseId">Id:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="expenseId" name="id"/> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2 req" for="expenseLandNameDD">Land</label>
						<div class="col-lg-10">
							<select name="landId" id="expenseLandNameDD" class="show form-control" required="required" onchange="loadLastCropAttached(this.id)">
								<option class="dropdown-item" value="">Nothing Selected</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="expenseCropNameDD">Crop Name</label>
						<div class="col-lg-10">
							<select name="cropName" id="expenseCropNameDD" class="show form-control" required="required">
								<option class="dropdown-item" value="">Nothing Selected</option>
								<option class="dropdown-item" value="Sugarcane">Sugarcane</option><!-- Kammad / Ganna / Sugarcane -->
								<option class="dropdown-item" value="Wheat">Wheat</option><!-- Ghandum / Kanak /Wheat -->
								<option class="dropdown-item" value="Rice">Rice</option><!-- Dhaan /Rice/Paddy -->
								<option class="dropdown-item" value="Maize">Maize</option><!-- Makkai / Corn /Maize -->
								<option class="dropdown-item" value="Cotton">Cotton</option><!-- Kappas / Cotton -->
								<option class="dropdown-item" value="Mustard">Mustard</option><!-- Raya / Indian Mustard -->
								<option class="dropdown-item" value="Canola">Canola</option><!-- Canola / Rapeseed -->
								<option class="dropdown-item" value="Peanuts">Peanuts</option><!-- Moongphali / Ground nut / Peanuts -->
								<option class="dropdown-item" value="Sunflower">Sunflower</option><!-- Suraj Mukkhi / Sunflower -->
								<option class="dropdown-item" value="Black Gram">Black Gram</option><!-- Kalay Channay / Chickpea /Black Gram -->
								<option class="dropdown-item" value="White Gram">White Gram</option><!-- Kabuli Channay / Chickpea / White Gram -->
								<option class="dropdown-item" value="jantar">Jantar</option>
								<option class="dropdown-item" value="Barley">Barley</option><!-- Juo / Barley -->
								<option class="dropdown-item" value="Sorghum">Sorghum</option><!-- Jowar / Chari / Great Millet /Sorghum -->
								<option class="dropdown-item" value="Pearl Millet">Pearl Millet</option><!-- Bajra / PearlMillet -->
								<option class="dropdown-item" value="Field Pea">Field Pea</option>
								<option class="dropdown-item" value="Lentil">Lentil</option><!-- Masur / Lentil -->
								<option class="dropdown-item" value="Mung bean">Mung bean</option><!-- Mung bean / Oregon Pea / Green Gram -->
								<option class="dropdown-item" value="Mash bean">Mash bean</option><!-- Mash / Urd Bean / Black Gram -->
								<option class="dropdown-item" value="Arhar">Arhar</option><!-- Pigeon pea / Red Gram / Arhar -->
								<option class="dropdown-item" value="Black-eyed Pea">Black-eyed Pea</option><!-- Lobia / Cowpea / Black-eyed Pea -->
							</select>
						</div>
					</div>
					<div class="form-group">						
						<label class="control-label col-lg-2" for="expenseCropType">Crop Type</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="expenseCropType" name="cropType"
								placeholder="Crop Type"> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="expenseNameDD">Expense Name</label>
						<div class="col-lg-10">
							<select name="expenseName" id="expenseNameDD" class="show form-control" required="required">
								<option class="dropdown-item" value="">Nothing Selected</option>
								<option class="dropdown-item" value="Cultivators">Cultivators</option>
								<option class="dropdown-item" value="Routawator">Routawator</option>
								<option class="dropdown-item" value="Cultipacker">Cultipacker</option>
								<option class="dropdown-item" value="Harvester">Harvester</option>
								<option class="dropdown-item" value="Drill">Drill</option>
								<option class="dropdown-item" value="Raja Hal">Raja Hal</option>
								<option class="dropdown-item" value="Raijor">Raijor</option>
								<option class="dropdown-item" value="Leveler">Leveler</option>
								<option class="dropdown-item" value="Laser Leveler">Laser Leveler</option>
								<option class="dropdown-item" value="Broadcast Seeder">Broadcast Seeder</option>
								<option class="dropdown-item" value="Planter">Planter</option>
								<option class="dropdown-item" value="Fertilizers">Fertilizers</option>
								<option class="dropdown-item" value="Triller">Triller</option>
								<option class="dropdown-item" value="Spray">Spray</option>
								<option class="dropdown-item" value="Sead">Sead</option>							
								<option class="dropdown-item" value="Diesel">Diesel</option>
								<option class="dropdown-item" value="Petrol">Petrol</option>
								<option class="dropdown-item" value="Water">Water</option>
								<option class="dropdown-item" value="Labour">Labour</option>
								<option class="dropdown-item" value="Purchase">Purchase</option>
								<option class="dropdown-item" value="Ushr">Ushr</option>
								<option class="dropdown-item" value="Charity">Charity</option>
								<option class="dropdown-item" value="Donation">Donation</option>
								<option class="dropdown-item" value="1/8">1/8</option>
								<option class="dropdown-item" value="1/4">1/4</option>
								<option class="dropdown-item" value="1/2">1/2</option>
								<!-- <option class="dropdown-item" value="custom">Custom</option> -->
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="expenseDescription">Description</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="expenseDescription"
								name="description" placeholder="Description">
						</div>
	<!-- 
						<label class="control-label col-lg-2" for="expenseType">Expense Type</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="expenseType" name="expenseType"
								placeholder="Expense name"> 
						</div>
	 -->
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" th:text="#{label.amount}" for="expenseAmount">Amount</label> 
						<div class="col-lg-10">
							<input id="expenseAmount" class="form-control" type="number" name="amount" value="" required="required" />
						</div> 
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" th:text="#{label.date}"  for="expenseUpdatedStr">Expense Date</label>
						<div class="col-lg-10">
							<input type="text" class="form-control datePicker" id="expenseUpdatedStr" name="updatedStr">
						</div>
					</div>
					<div class="form-group" style="text-align: center">
						<button type="button" id="addAgricultureExpense" class="btn btn-success">
							<span class="glyphicon glyphicon-plus-sign"></span> Submit
						</button>
						<button type="button" id="deleteAgricultureExpense" class="btn btn-danger">
							<span class="glyphicon glyphicon-minus-sign"></span> Delete
						</button>
						<button type="reset" id="resetAgricultureExpense" class="btn btn-warning">
							<span class="glyphicon glyphicon-refresh"></span> Cancel
						</button>
					</div>
					<div class="form-group">
						<table id="tableAgricultureExpense" class="table table-bordered table-striped">
							<thead>
								<tr>
									<!-- <th class="col-lg-1" data-field="id">ID</th> -->
									<th data-field="checkDelete">Check</th>
									<th data-field="expenseLandNameDD">Land</th>
									<!-- <th data-field="expenseLandName">Land Name</th> -->
									<th data-field="expenseCropNameDD">Crop name</th>
									<th data-field="expenseCropType">Crop type</th>
									<th data-field="expenseNameDD">Expense Name</th>
									<th data-field="expenseDescription">Description</th>
									<th data-field="expenseAmount">Amount</th>
									<th data-field="expenseDatedStr">Date</th>
									<th data-field="expenseUpdatedStr">Updated</th>
								</tr>
							</thead>
							<tfoot>
					            <tr>
					                <th></th>
					                <th></th>
					                <th></th>
					                <th></th>
					                <th></th>
					                <th style="text-align: center">Totals:</th>
					                <th style="text-align: center"></th>
					                <th></th>
					                <th></th>
					            </tr>
					        </tfoot>
						</table>
					</div>
				</form>
			</div>
			<div id="agricultureIncomeDiv" class="formDiv" style="display:none">
				<h4 th:text="#{label.income.form.heading}">Income Form</h4>
				<form action="/" method="POST" class="form-horizontal" role="form"
					enctype="utf8" id="AgricultureIncome" autocomplete="off">
					<div class="form-group" style="display: none">
						<label class="control-label col-lg-2" for="incomeId">Id:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="incomeId" name="id"/> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="incomeLandNameDD">Land</label>
						<div class="col-lg-10">
							<select name="landId" id="incomeLandNameDD" class="show form-control" required="required" onchange="loadLastCropAttached(this.id)">
								<option class="dropdown-item" value="">Nothing Selected</option>
							</select>
						</div>
						<!-- <label class="control-label col-lg-2" for="incomeTotalLandUnit">Total Land Units</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="incomeTotalLandUnit" name="totalLandUnit"
								placeholder="Total of units" required="required"> 
						</div> -->
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="incomeCropNameDD">Crop Name</label>
						<div class="col-lg-10">
							<select name="cropName" id="incomeCropNameDD" class="show form-control" required="required">
								<option class="dropdown-item" value="">Nothing Selected</option>
								<option class="dropdown-item" value="Sugarcane">Sugarcane</option><!-- Kammad / Ganna / Sugarcane -->
								<option class="dropdown-item" value="Wheat">Wheat</option><!-- Ghandum / Kanak /Wheat -->
								<option class="dropdown-item" value="Rice">Rice</option><!-- Dhaan /Rice/Paddy -->
								<option class="dropdown-item" value="Maize">Maize</option><!-- Makkai / Corn /Maize -->
								<option class="dropdown-item" value="Cotton">Cotton</option><!-- Kappas / Cotton -->
								<option class="dropdown-item" value="Mustard">Mustard</option><!-- Raya / Indian Mustard -->
								<option class="dropdown-item" value="Canola">Canola</option><!-- Canola / Rapeseed -->
								<option class="dropdown-item" value="Peanuts">Peanuts</option><!-- Moongphali / Ground nut / Peanuts -->
								<option class="dropdown-item" value="Sunflower">Sunflower</option><!-- Suraj Mukkhi / Sunflower -->
								<option class="dropdown-item" value="Black Gram">Black Gram</option><!-- Kalay Channay / Chickpea /Black Gram -->
								<option class="dropdown-item" value="White Gram">White Gram</option><!-- Kabuli Channay / Chickpea / White Gram -->
								<option class="dropdown-item" value="jantar">Jantar</option>
								<option class="dropdown-item" value="Barley">Barley</option><!-- Juo / Barley -->
								<option class="dropdown-item" value="Sorghum">Sorghum</option><!-- Jowar / Chari / Great Millet /Sorghum -->
								<option class="dropdown-item" value="Pearl Millet">Pearl Millet</option><!-- Bajra / PearlMillet -->
								<option class="dropdown-item" value="Field Pea">Field Pea</option>
								<option class="dropdown-item" value="Lentil">Lentil</option><!-- Masur / Lentil -->
								<option class="dropdown-item" value="Mung bean">Mung bean</option><!-- Mung bean / Oregon Pea / Green Gram -->
								<option class="dropdown-item" value="Mash bean">Mash bean</option><!-- Mash / Urd Bean / Black Gram -->
								<option class="dropdown-item" value="Arhar">Arhar</option><!-- Pigeon pea / Red Gram / Arhar -->
								<option class="dropdown-item" value="Black-eyed Pea">Black-eyed Pea</option><!-- Lobia / Cowpea / Black-eyed Pea -->
								<option class="dropdown-item" value="Cowpea">Cowpea</option><!-- Rawan / Cowpea -->
								<option class="dropdown-item" value="Rapeseed">Rapeseed</option><!-- Toria / Brown or Yellow Sarsoon / Rapeseed -->
	<!-- 							<option class="dropdown-item" value="egyptianClover">Berseem / Egyptian Clover</option>
								<option class="dropdown-item" value="alfalfa">Lucern / Alfalfa</option>
								<option class="dropdown-item" value="clusterBean">Guar / Cluster bean</option>
								<option class="dropdown-item" value="custom">Custom</option>
	 -->						</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="incomeVropType">Crop Type</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="incomeCropType" name="cropType"
								placeholder="Crop Type"> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="incomeNameDD">Income Name</label>
						<div class="col-lg-10">
							<select name="incomeName" id="incomeNameDD" class="show form-control" required="required">
								<option class="dropdown-item" value="">Nothing Selected</option>
								<option class="dropdown-item" value="Cultivators">Cultivators</option>
								<option class="dropdown-item" value="Routawator">Routawator</option>
								<option class="dropdown-item" value="Disc">Disc</option>
								<option class="dropdown-item" value="Harvester">Harvester</option>
								<option class="dropdown-item" value="Drill">Drill</option>
								<option class="dropdown-item" value="Raja Hal">Raja Hal</option>
								<option class="dropdown-item" value="Raijor">Raijor</option>
								<option class="dropdown-item" value="Leveler">Leveler</option>
								<option class="dropdown-item" value="Laser Leveler">Laser Leveler</option>
								<option class="dropdown-item" value="Broadcast Seeder">Broadcast Seeder</option>
								<option class="dropdown-item" value="Planter">Planter</option>
								<option class="dropdown-item" value="Fertilizers">Fertilizers</option>
								<option class="dropdown-item" value="Triller">Triller</option>
								<option class="dropdown-item" value="Sead">Sead</option>
								<option class="dropdown-item" value="Spray">Spray</option>
								<option class="dropdown-item" value="Diesel">Diesel</option>
								<option class="dropdown-item" value="Petrol">Petrol</option>
								<option class="dropdown-item" value="Water">Water</option>
								<option class="dropdown-item" value="Labor">Labor</option>
								<option class="dropdown-item" value="Sale">Sale</option>
								<option class="dropdown-item" value="Donation">Donation</option>
								<option class="dropdown-item" value="1/8">1/8</option>
								<option class="dropdown-item" value="1/4">1/4</option>
								<option class="dropdown-item" value="1/2">1/2</option>
								<!-- <option class="dropdown-item" value="custom">Custom</option> -->
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="incomeDescription">Description</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="incomeDescription"
								name="description" placeholder="Description">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" th:text="#{label.amount}" for="incomeAmount">Amount</label> 
						<div class="col-lg-10">
							<input id="incomeAmount" class="form-control" type="number" name="amount" value="" required="required" />
						</div> 
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" th:text="#{label.date}"  for="incomeUpdatedStr">Expense Date</label>
						<div class="col-lg-10">
							<input type="text" class="form-control datePicker" id="incomeUpdatedStr" name="updatedStr">
						</div>
					</div>
					<div class="form-group" style="text-align: center">
						<button type="button" id="addAgricultureIncome" class="btn btn-success">
							<span class="glyphicon glyphicon-plus-sign"></span> Submit
						</button>
						<button type="button" id="deleteAgricultureIncome" class="btn btn-danger">
							<span class="glyphicon glyphicon-minus-sign"></span> Delete
						</button>
						<button type="reset" id="resetAgricultureIncome" class="btn btn-warning">
							<span class="glyphicon glyphicon-refresh"></span> Cancel
						</button>
					</div>
					<div class="form-group">
						<table id="tableAgricultureIncome" class="table table-bordered table-striped">
							<thead>
								<tr>
								<!-- 	<th class="col-lg-1" data-field="id">ID</th> -->
									<th data-field="incomeId">Check</th>
									<th data-field="incomeLandNameDD">Land</th>
									<th data-field="incomeCropNameDD">Crop name</th>
									<th data-field="incomeCropType">Crop type</th>
									<th data-field="incomeNameDD">Income Name</th>
									<th data-field="incomeDescription">Description</th>
									<th data-field="incomeAmount">Amount</th>
									<th data-field="incomeDatedStr">Date</th>
									<th data-field="incomeUpdatedStr">Updated</th>
								</tr>
							</thead>
							<tfoot>
					            <tr>
					                <th></th>
					                <th></th>
					                <th></th>
					                <th></th>
					                <th></th>
					                <th style="text-align: center">Totals:</th>
					                <th style="text-align: center"></th>
					                <th></th>
					                <th></th>
					            </tr>
					        </tfoot>
						</table>
					</div>
				</form>
			</div>
			<div id="landDiv" class="formDiv" style="display:none">
				<h4 th:text="#{label.land.registration.form.heading}">Land Registration</h4>
				<form action="/" method="POST" class="form-horizontal" role="form"
					enctype="utf8" id="Land" autocomplete="off">
					<div class="form-group" style="display: none">
						<label class="control-label col-lg-2" for="landId">Id:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="landId" name="id"/> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2 req" for="landUnitDD">Land type</label>
						<div class="col-lg-10">
							<select name="landUnit" id="landUnitDD" class="show form-control" required="required">
								<option class="dropdown-item" value="">Nothing Selected</option>
								<option class="dropdown-item" value="Acre">Acre</option>
								<option class="dropdown-item" value="Bigha">Bigha</option>
								<option class="dropdown-item" value="Kanal">Kanal</option>
								<option class="dropdown-item" value="Half Kanal">Half Kanal</option>
								<option class="dropdown-item" value="Marla">Marla</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2 req" for="totalLandUnitOf">Total of</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="totalLandUnitOf" name="totalLandUnit"
								placeholder="Enter total of selected land unit" required="required"> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="landName">Land Name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="landName" name="landName"
								placeholder="Enter name" required="required"> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="landType">Land Type</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="landType" name="landType"
								placeholder="Enter type"> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" th:text="#{label.date}"  for="landUpdatedStr">Date</label>
						<div class="col-lg-10">
							<input type="text" class="form-control datePicker" id="landUpdatedStr" name="updatedStr">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="description">Description</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="description"
								name="description" placeholder="Description">
						</div>
					</div>
					<div class="form-group" style="text-align: center">
						<button type="button" id="addLand" class="btn btn-success">
							<span class="glyphicon glyphicon-plus-sign"></span> Submit
						</button>
						<button type="button" id="deleteLand" class="btn btn-danger">
							<span class="glyphicon glyphicon-minus-sign"></span> Delete
						</button>
						<button type="reset" id="resetLand" class="btn btn-warning">
							<span class="glyphicon glyphicon-refresh"></span> Cancel
						</button>
					</div>
					<div class="form-group">
						<table id="tableLand" class="table table-bordered table-striped">
							<thead>
								<tr>
									<!-- <th data-field="landId">ID</th> -->
									<th data-field="checkDelete">Check</th>
									<th data-field="landUnitDD">Land</th>
									<th data-field="totalLandUnitOf">Unit</th>
									<th data-field="landName">Land name</th>
									<th data-field="landType">Land type</th>
									<th data-field="datedStr">Date</th>
									<th data-field="updatedStr">Updated</th>
									<th data-field="description">Description</th>
									
								</tr>
							</thead>
						</table>
					</div>
				</form>
				<!-- <div>
					<table id="tableLand" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="col-lg-1" data-field="id">ID</th>
								<th class="col-lg-1" data-field="checkDelete">Check</th>
								<th class="col-lg-1" data-field="totalLandUnit">Land</th>
								<th class="col-lg-1" data-field="landUnitDD">Unit</th>
								<th class="col-lg-1" data-field="landName">Land name</th>
								<th class="col-lg-1" data-field="landType">Land type</th>
								<th class="col-lg-1" data-field="datedStr">Date</th>
								<th class="col-lg-1" data-field="updatedStr">Updated</th>
								<th class="col-lg-1" data-field="description">Description</th>
							</tr>
						</thead>
					</table>
				</div> -->
			</div>
		</div>
		<div th:replace="footer :: footer" />
	</div>
	<script th:inline="javascript">
var serverContext = [[@{/}]];
	</script>
</body>
</html>
