<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<style>
.password-verdict{
color:#000;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/resources/pwstrength.js}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title th:text="#{label.form.title}">form</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" th:href="@{/home.html}" th:text="#{label.pages.home.title}">home</a> -->
    </div>
      <ul class="nav navbar-nav navbar-right">
       <!--  <li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a> </li> -->
      </ul>
    </div>
</nav>

    <div class="container">
		<div id="messageDiv"></div>
		<div class="container">
	        <div >
	            <h3 th:text="#{label.appointment.heading}">form</h3>
	            <br/>
	            <form action="/" method="POST" enctype="utf8">
	                <div class="form-group row">
	                    <label class="col-sm-2" th:text="#{label.hospital.name}">Hospital Name</label>
	                    <select class="col-sm-3" id="hospitalId" name="hospitalId" required="required">
	                         <option value=""> Select Hospital </option>
	                         <option th:each="hospital : ${hospitals}"
	                            th:value="${hospital.hospitalId}"
	                            th:utext="${hospital.name}"/>
	                  </select>               
	                    <span id="hospitalNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                </div>
	                <div class="form-group row">
	                    <label class="col-sm-2" th:text="#{label.doctor.name}">Doctor Name</label>
	                    <select class="col-sm-3" id="doctorId" name="doctorId" required="required">
	                         <option value=""> Select Doctor </option>
	                         <option th:each="doctor : ${doctors}"
	                            th:value="${doctor.doctorId}"
	                            th:utext="${doctor.name}"/>
	                  </select>               
	                    <span id="doctorNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                </div>
	                <div class="form-group row">
	                    <label class="col-sm-2" th:text="#{label.appointment.name}">Patient Name</label>
	                    <span class="col-sm-3"><input class="form-control" name="name" value="" required="required"/></span>
	                    <span id="nameError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                </div>
	                <div class="form-group row">
	                    <label class="col-sm-2" th:text="#{label.mobile}">Mobile</label>
	                    <span class="col-sm-3"><input id="mobile" class="form-control" name="mobile" value="" required="required"/></span>
	                    <span id="mobileError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                </div>
	                <div class="form-group row">
	                    <label class="col-sm-2" th:text="#{label.email}">Email</label>
	                    <span class="col-sm-3"><input type="email" class="form-control" name="email" value="" required="required"/></span>                    
	                    <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                    
	                </div>
	                <div class="form-group row">
	                    <label class="col-sm-2" th:text="#{label.address}">Address</label>
	                    <span class="col-sm-3"><input id="phone" class="form-control" name="address" value="" required="required"/></span>
	                    <span id="phoneError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                </div>
	                <br/>
	                <button type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>
	            </form>
	        </div>
	    </div>
    </div>
    

<script th:inline="javascript">
var serverContext = [[@{/}]];

$(document).ready(function () {
	$('form').submit(function(event) {
		appointmentReq(event);
	});
});

function appointmentReq(event){
	event.preventDefault();
    $(".alert").html("").hide();
    $(".error-list").html("");
    $("#messageDiv").html("");
    $("#messageDiv").removeClass("alert alert-danger");
    var formData= $('form').serialize();
	//alert(1);
    $.post(serverContext + "appointmentReq",formData ,function(data){
        if(data.status == "SUCCESS"){
        	$("#messageDiv").show().html(data.message);
        	$("#messageDiv").addClass("alert alert-success");
        }else if(data.status == "FAILURE"){
        	$("#messageDiv").show().html(data.error);
        	$("#messageDiv").addClass("alert alert-danger");
        }
    })
    .fail(function(data) {
    	alert("responseJSON exist  "+data.responseJSON.message);
    	/*
        if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else if(data.responseJSON.error == "UserAlreadyExist"){
            $("#emailError").show().html(data.responseJSON.message);
        }
        else if(data.responseJSON.error.indexOf("InternalError") > -1){
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
        else*/
        {
        	var errors = $.parseJSON(data.responseJSON.message);
            $.each( errors, function( index,item ){
            	if (item.field){
            		$("#"+item.field+"Error").show().append(item.defaultMessage+"<br/>");
            	}
            	else {
            		$("#globalError").show().append(item.defaultMessage+"<br/>");
            	}
               
            });
        }
    });
}

</script>    
</body>
</html>
