<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/jpg" sizes="60x50" href="resources/favicon.jpeg"/>
	<div th:replace="header :: header-css" />
	
	<script type="text/javascript" src="resources/js/jspdf.min.js"></script>
	<script type="text/javascript" src="resources/js/jspdf.plugin.autotable.js"></script>
	
	<script src="resources/js/business/business.js"></script>
	<script src="resources/js/business/businessInvoicePrint.js"></script>
</head>
<body onkeypress="handleKey(event,'click','sellItemDD')">
	<div id="container">
		<div th:replace="header :: header" />
		<div id="content">
			<nav class="subnav" id="nav-subheader">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<div class="navbar-header active">
							<p style="color: lightskyblue; padding-top: 17px"
								class="glyphicon glyphicon-user" th:if="${param.user} != null"
								th:text="${param.user[0]}">User</p>
						</div>
						<li>
							<select name="registrationType" id="registrationType" class="dropdown show panel-heading">
								<option class="dropdown-item" value="">Register</option>
								<option class="dropdown-item" value="CompanyDiv">Company</option>
								<option class="dropdown-item" value="VenderDiv">Vender/Supplier</option>
		<!-- 						<option class="dropdown-item" value="ItemTypeDiv">Item Type</option>
								<option class="dropdown-item" value="ItemUnitDiv">Item Unit</option>
		 -->						
		 						<option class="dropdown-item" value="itemDiv">Item</option>
								<!-- <option class="dropdown-item" value="Customer">Customer</option> -->
							</select>
						</li>
						<li>
							<select name="purchaseType" id="purchaseType" class="dropdown show panel-heading">
								<option class="dropdown-item" value="">Purchase</option>
								<option class="dropdown-item" value="purchaseDiv"> New Purchase </option>
		<!-- 						<option class="dropdown-item" value="purchaseReturnDiv"> Manage Purchase </option>
								<option class="dropdown-item" value="PurchaseInvoice"> Purchase Invoice </option>
		 -->					</select>
						</li>
						<li>
							<select name="sellType" id="sellType" class="dropdown show panel-heading">
								<option class="dropdown-item" value="">Sale</option>
								<option class="dropdown-item" value="sellDiv"> New Sale </option>
		 						<option class="dropdown-item" value="SRDiv"> Sale detail report</option>
							</select>
						</li>
					</ul>					
				</div>
			</nav>
			<div id="CompanyDiv" class="formDiv">
				<h3 th:text="#{label.company.form.heading}">Company Registration
					Form</h3>
				
				<!-- <form class="form-horizontal" role="form"> -->
				<form action="/" method="POST" class="form-horizontal" role="form"
					enctype="utf8" id="Company" autocomplete="off">
					<div class="form-group" style="display: none">
						<div class="col-sm-6">
							<input type="number" class="form-control" id="companyId" name="id" readonly="readonly"/> 
						</div>
						<div class="col-sm-6">
							<input type="date" class="form-control" id="companyDated" name="dated" readonly="readonly"/> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2 req" for="companyName">Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="companyName" name="name"
								placeholder="Company Name" required="required"> 
						</div>
						<label class="control-label col-sm-2" for="companyPhone">Contact</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="companyPhone" name="phone"
								placeholder="Phone Number"> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="companyEmail">Email:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="companyEmail"
								name="email" placeholder="Email Address">
						</div>
						<label class="control-label col-sm-2" for="address">Address:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="companyAddress"
								name="address" placeholder="Complete Address">
						</div>
					</div>
					<div class="form-group text-center">
						<button type="button" id="addCompany" class="btn btn-success">
							<span class="glyphicon glyphicon-plus-sign"></span> Submit
						</button>
						<button type="button" id="deleteCompany" class="btn btn-danger">
							<span class="glyphicon glyphicon-minus-sign"></span> Delete
						</button>
						<button type="reset" id="resetItem" class="btn btn-warning">
							<span class="glyphicon glyphicon-refresh"></span> Cancel
						</button>
					</div>
				</form>
				<div>
					<table id="tableCompany" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th data-field="companyId">ID</th>
								<th data-field="checkDelete"></th>
								<th data-field="companyName">Name</th>
								<th data-field="companyPhone">Phone</th>
								<th data-field="companyEmail">Email</th>
								<th data-field="companyAddress">Address</th>
								<th data-field="companyDated">Dated</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div id="VenderDiv" class="formDiv">
				<h3 th:text="#{label.vender.form.heading}">Vender Registration
					Form</h3>
				<form action="/" method="POST" class="form-horizontal" role="form"
					enctype="utf8" id="Vender" autocomplete="off">
					<div class="form-group" style="display: none">
						<div class="col-sm-6">
							<input type="number" class="form-control" id="venderId" name="id" readonly="readonly"/> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2 req" th:text="#{label.company}">Select	Company</label> 
						<div class="col-sm-4">
							<select	class="form-control" id="venderCompanyDD" name="companyId" required="required">
							</select>
						</div>
						<label class="control-label col-sm-2 req" for="name">Name:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="venderName" name="name"
								placeholder="Vender Name" required="required">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="phone">Phone:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="venderPhone" name="phone"
								placeholder="Phone Number">
						</div>
						<label class="control-label col-sm-2 req" for="mobile">Mobile:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="venderMobile" name="mobile"
								placeholder="Mobile Number" required="required">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="email">Email:</label>
						<div class="col-sm-4">
							<input type="email" class="form-control" id="venderEmail" name="email"
								placeholder="Email address">
						</div>
						<label class="control-label col-sm-2" for="address">Address:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="venderAddress"
								name="address" placeholder="Complete Address"> 
						</div>
					</div>
					<div class="form-group text-center">
						<button type="button" id="addVender" class="btn btn-success">
							<span class="glyphicon glyphicon-plus-sign"></span> Submit
						</button>
						<button type="button" id="deleteVender" class="btn btn-danger">
							<span class="glyphicon glyphicon-minus-sign"></span> Delete
						</button>
						<button type="reset" id="resetItem" class="btn btn-warning">
							<span class="glyphicon glyphicon-refresh"></span> Cancel
						</button>
					</div>
				</form>
				<div>
					<table id="tableVender" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th data-field="venderId">ID</th>
								<th data-field="checkDelete"></th>
								<th data-field="venderName">Name</th>
								<th data-field="venderCompany">Company</th>
								<th data-field="venderPhone">Phone</th>
								<th data-field="venderMobile">Mobile</th>
								<th data-field="venderEemail">Email</th>
								<th data-field="venderAddress">Address</th>
								<th data-field="dated">Dated</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div id="itemDiv" class="formDiv">
				<h4 th:text="#{label.item.form.heading}">Item Registration Form</h4>
				<form action="/" method="POST" class="form-horizontal" role="form"
					enctype="utf8" id="Item" autocomplete="off">
					<div class="form-group" style="display: none">
						<div class="col-sm-6">
							<input type="number" class="form-control" id="itemId" name="id" readonly="readonly"/> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" th:text="#{label.company}">Select
							Company</label> <span class="col-sm-4"> <select
							class="form-control" id="itemCompanyDD" name="companyId">
						</select>
						</span>
 						<label class="control-label col-sm-2" th:text="#{label.vender}">Select
							Vender</label> <span class="col-sm-4"> <select
							class="form-control" id="itemVenderDD" name="venderId">
						</select>
 						</span>
					</div>
					<div class="form-group" id="Item">
						<label class="control-label col-sm-2" for="itemCode">Code</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="itemCode" name="icode"
								placeholder="Item Code">
						</div>
						<label class="control-label col-sm-2" for="itemName">Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="itemName" name="iname"
								placeholder="Item Name">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="itemDesc">Description</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="itemDesc" name="idesc"
								placeholder="Item desciption">
						</div>
					</div>
<!--  
					<div class="form-group">
						<label class="control-label col-sm-2" for="itemPurchaseAmount">Purchase Price/Unit</label>
						<div class="col-sm-4">
							<input type="number" step="any" class="form-control" id="itemPurchaseAmount"
								name="purchaseAmount" placeholder=" Purchase Amount 0.0" onblur="calculateNet()" onkeyup="calculateNet()" disabled="disabled">
						</div>
						<label class="control-label col-sm-2" for="itemSellAmount">Sell/Unit price</label>
						<div class="col-sm-4">
							<input type="number" step="any" min="0" class="form-control" id="itemSellAmount"
								name="sellAmount" placeholder=" Sell Amount 0.0" onblur="calculateNet()" onkeyup="calculateNet()">
						</div>
					</div>					
					<div class="form-group">
						<label class="control-label col-sm-2" for="itemDiscountTypeDD">Discount Type</label>
						<div class="col-sm-4">
							<select name="discountType" id="itemDiscountTypeDD" class="form-control" onchange="calculateNet()">
								<option class="dropdown-item" value="" >Default is %</option>
								<option class="dropdown-item" value="%" selected="selected">%</option>
								<option class="dropdown-item" value="amount">amount</option>
							</select>
						</div>
						<label class="control-label col-sm-2" for="itemDiscount">Discount Amount</label>
						<div class="col-sm-4">
							<input type="number" step="any" class="form-control" id="itemDiscount"
								name="discount" placeholder=" Discount 0.0" onblur="calculateNet()" onkeyup="calculateNet()">
						</div>
					</div>
 					<div class="form-group">
						<label class="control-label col-sm-2" for="itemStock">Stock In Hand</label>
						<div class="col-sm-2">
							<input type="number" step="any" min="0" class="form-control" id="itemStock"
								name="stock" placeholder="Stock in hand" disabled="disabled">
						</div>
						<div class="col-sm-2">
							<input type="text"class="form-control" id="itemBN"
								name="bn" placeholder="Batch #" disabled="disabled">
						</div>
						<label class="control-label col-sm-2" for="itemExpDate">Expiration Date</label>
						<div class="col-sm-4">
							<input type="text" class="form-control datePicker" id="itemExpDate" name="expDateStr"
								placeholder=" Expiry Date " disabled="disabled"> 
						</div>
					</div>	
-->						
 					<div class="form-group text-center">
						<button type="button" id="addItem" class="btn btn-success">
							<span class="glyphicon glyphicon-plus-sign"></span> Submit
						</button>
						<button type="button" id="deleteItem" class="btn btn-danger">
							<span class="glyphicon glyphicon-minus-sign"></span> Delete
						</button>
						<button type="reset" id="resetItem" class="btn btn-warning">
							<span class="glyphicon glyphicon-refresh"></span> Cancel
						</button>
					</div>
					<table id="tableItem" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th data-field="itemId">ID</th>
								<th data-field="checkDelete">Mark</th>
								<th data-field="itemCompanyDD">Company</th>
								<th data-field="itemVenderDD">Vender/Supplier</th>
								<th data-field="itemName">Name</th>
								<th data-field="itemCode">Code</th>
								<th data-field="itemDesc">Description</th>
<!-- 								<th data-field="itemVenderDD">Vender</th> 
								<th data-field="itemPurchaseAmount">P/U Price</th>
								<th data-field="itemSnellAmount">S/U Price</th>
								<!-- <th data-field="discountTypeDD">Disc Type</th> -->
								<!-- <th data-field="itemDiscount">Discount</th> -->
<!-- 								<th data-field="itemExpDate">Exp. Date</th>
								<th data-field="itemStock">Stock</th>
								<th data-field="itemBN">Batch #</th>
 -->								<th data-field="dated">Dated</th>
							</tr>
						</thead>
					</table>
				</form>
			</div>
	
			<div id="purchaseDiv" class="formDiv">
				<h4 th:text="#{label.purchase.form.heading}">Purchase Form</h4>
				<!-- <form class="form-horizontal" role="form"> -->
				<form action="/" method="POST" class="form-horizontal" role="form"
					enctype="utf8" id="Purchase" autocomplete="off">
					<div class="form-group" style="display: none">
						<div class="col-sm-12">
							<input type="number" class="form-control" id="purchaseId" name="purchaseId" readonly="readonly"/> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2 req" th:text="#{label.item}">Select Item</label> 
						<div class="col-sm-10">
							<select
								class="form-control onChangeSelect selectpicker" id="purchaseItemDD" name="itemId" data-live-search="true" required="required">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="purchaseQuantity">QTY</label>
						<div class="col-lg-4">
							<input type="number" step="any" min="0" placeholder=" Enter total item" class="form-control" id="purchaseQuantity" 
							name="quantity" onblur="calculateNetPurchase()" onkeyup="calculateNetPurchase()" required="required"/>
						</div>
						<label class="control-label col-sm-2" for="purchaseStock">Stock In Hand</label>
						<div class="col-lg-4">
							<input type="number" step="any" min="0" class="form-control" id="purchaseStock" name="stockDTO.stock"  disabled="disabled"/>
						</div>						
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="purchaseBatchNo">Batch No</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="purchaseBatchNo" 
							name="stockDTO.batchNo" placeholder="Batch number"/>
						</div>
						<label class="control-label col-sm-2" for="purchaseExpiry">Expiry</label>
						<div class="col-sm-4">
							<input type="text" class="form-control datePicker" id="purchaseExpiry" 
							name="stockDTO.bexpDate" placeholder="Expiry date"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2 req" for="purchasePurchaseRate">P/U Price</label>
						<div class="col-sm-4">
							<input type="number" step="any" class="form-control" id="purchasePurchaseRate"
								name="stockDTO.bpurchaseRate" placeholder=" Purchase Amount 0.0" required="required" onblur="calculateNetPurchase()" onkeyup="calculateNetPurchase()">
						</div>
						<label class="control-label col-sm-2" for="purchaseSellAmount">S/U Price</label>
						<div class="col-sm-4">
							<input type="number" step="any" class="form-control" id="purchaseSellRate"
								name="stockDTO.bsellRate" placeholder=" Sell Amount 0.0" onblur="calculateNetPurchase()" onkeyup="calculateNetPurchase()">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="discountTypeDD">Select discount</label>
						<div class="col-sm-4">
							<select name="stockDTO.bpurchaseDiscountType" id="discountTypeDD" class="form-control" onchange="calculateNetPurchase">
								<option class="dropdown-item" value="" >Default is %</option>
								<option class="dropdown-item" value="%" selected="selected">%</option>
								<option class="dropdown-item" value="amount">amount</option>
							</select>
						</div>
						<label class="control-label col-sm-2" for="purchaseDiscount">Discount</label>
						<div class="col-sm-4">
							<input type="number" step=any class="form-control" id="purchaseDiscount"
								name="stockDTO.bpurchaseDiscount" placeholder=" Discount 0.0" onkeyup="calculateNetPurchase()">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="purchaseTotalAmount">Total</label>
						<div class="col-sm-4">
							<input type="number" step="any" class="form-control" id="purchaseTotalAmount" name="totalAmount" disabled="disabled">
							<!-- <output class="form-control" id="purchaseTotalAmountOut"> -->
						</div>
						<label class="control-label col-sm-2" for="net">Profit</label>
						<div class="col-sm-4">
							<input type="number" step=any class="form-control" id="purchaseNetAmount" name="netAmount" disabled="disabled">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="purchaseDate">Date</label>
						<div class="col-sm-4">
							<input type="text" class="form-control datetimepicker" id="purchaseDate" name="updated" required="required"/> 
						</div>
					</div>
					<div class="form-group text-center">
						<button type="button" id="addPurchase" class="btn btn-success">
							<span class="glyphicon glyphicon-plus-sign"></span> Submit
						</button>
						<button type="button" id="deletePurchase" class="btn btn-danger">
							<span class="glyphicon glyphicon-minus-sign"></span> Delete
						</button>
						<button type="reset" id="resetPurchase" class="btn btn-warning">
							<span class="glyphicon glyphicon-refresh"></span> Cancel
						</button>
					</div>
				</form>
				<div>
					Toggle column: <a class="toggle-vis" data-column="2">Code</a> - <a class="toggle-vis" data-column="3">Name</a>
					  - <a class="toggle-vis" data-column="4">QTY</a> - <a class="toggle-vis" data-column="5">Stock</a>
					  - <a class="toggle-vis" data-column="6">Batch #</a> - <a class="toggle-vis" data-column="7">Expiry</a>
					  - <a class="toggle-vis" data-column="8">P/U price</a> - <a class="toggle-vis" data-column="9">S/U price</a>
					  - <a class="toggle-vis" data-column="10">Disc type</a> - <a class="toggle-vis" data-column="11">Discount</a>
					  - <a class="toggle-vis" data-column="12">Total</a> - <a class="toggle-vis" data-column="13">Profit</a>
					  - <a class="toggle-vis" data-column="14">DateTime</a>
				</div>
				<table id="tablePurchase" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th data-field="purchaseId">ID</th>
							<th data-field="checkDelete"></th>
							<th data-field="purchaseItemCode">Code</th>
							<th data-field="purchaseItemName">Name</th>
							<th data-field="purchaseQuantity">QTY</th>
							<!-- <th data-field="purchaseStock">Stock</th> -->
							<th data-field="purchaseBatchNo">Batch #</th>
							<th data-field="purchaseExpiry">Expiry</th>
							<th data-field="purchasePurchaseRate">P/U Price</th>
							<th data-field="purchaseSellRate">S/U Price</th>
							<th data-field="discountTypeDD">Disc Type</th>
		 					<th data-field="purchaseDiscount">Discount</th>
							<th data-field="purchaseTotalAmount">Total</th>
							<th data-field="purchaseNetAmount">Profit</th>
							<th data-field="purchaseDate">DateTime</th>
						</tr>
					</thead>
				</table>
			</div>
			<div id="sellDiv" class="formDiv">
			<a id="MyLink"  style="display:none"></a>
			<input id="Button1" type="button" value="Click Me" onclick="OpenWord()" style="display: none;"/>
				<h4 th:text="#{label.sell.form.heading}">Sell Form</h4>
				<form action="/" method="POST" class="form-horizontal" role="form"
					enctype="utf8" id="Sell" autocomplete="off">
					<div class="form-group" style="display: none">
						<div class="col-sm-12">
							<input type="number" class="form-control" id="sellId" name="id" readonly="readonly"/> 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2 req">Item Name/Code</label> 
						<div class="col-sm-4">
							<select required="required"
								class="form-control onChangeSelect selectpicker" id="sellItemDD" name="itemId" data-live-search="true">
							</select>
						</div>
						<div>
							<label class="control-label col-sm-2" for="sellItemDesc">Detail</label> 
							<div class="col-sm-4">
								<input type="text" placeholder="Item detail" class="form-control" id="sellItemDesc" name="desc" readonly="readonly"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2 req" for="sellItems">QTY:</label>
						<div class="col-sm-4">
							<input type="text" placeholder=" Enter total item" class="form-control" id="sellItems" name="quantity"
							 onblur="calculateNetSell()" onkeyup="calculateNetSell()" required="required"/>
						</div>
						<label class="control-label col-sm-2" for="sellStock">Stock In Hand:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="sellStock" name="stockDTO.stock" readonly="readonly"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2 req" for="sellSellRate">S/U Price:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="sellSellRate"
								name="stockDTO.bsellRate" placeholder=" Sell Amount " onblur="calculateNetSell()" onkeyup="calculateNetSell()" required="required">
						</div>
						<label class="control-label col-sm-2" for="sellTotalAmount">Total:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="sellTotalAmount" name="totalAmount" readonly="readonly"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="sellDiscount" id="sdt">Discount:</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="sellDiscount"
								name="stockDTO.bsellDiscount" placeholder=" Discount 0.0" onblur="calculateNetSell()" onkeyup="calculateNetSell()">
						</div>
						<div class="col-sm-2">
							<select id="sellDiscountTypeDD" name="stockDTO.bsellDiscountType" class="form-control" onchange="calculateNetSell()" required="required">
								<option class="dropdown-item" value="amount" selected="selected">amount</option>
								<option class="dropdown-item" value="%">%</option>
							</select>
						</div>					
	 					<label class="control-label col-sm-2" for="sellrm">To Receive</label>
	 					<div class="col-sm-4">
							<input type="text" class="form-control" id="sellrm" readonly="readonly"/>
						</div>
					</div>
					<div class="form-group" id="pDiv" style="display: none">
						<label class="control-label col-sm-2" for="sellPurchaseRate">P/U Price:</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="sellPurchaseRate"
								name="stockDTO.bpurchaseRate" placeholder=" Purchase Amount " required="required" onblur="calculateNetSell()" onkeyup="calculateNetSell()" readonly="readonly">
						</div>
						<label class="control-label col-sm-2" for="sellNetAmount">Profit</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="sellNetAmount" name="netAmount" readonly="readonly"/>
						</div>
					</div>
					<div class="form-group" style="display: none;">
	 					<label class="control-label col-sm-2" for="sellrm">Add deduction</label>
						<div class="col-sm-2">
							<select id="srpDD" class="form-control" onchange="calculateSRP()">
								<option class="dropdown-item" value="amount" selected="selected">amount</option>
								<option class="dropdown-item" value="%">%</option>
							</select>
						</div>					
	 					<div class="col-sm-2">
							<input type="number" class="form-control" id="sellsrp" name="srp" onblur="calculateSRP()" onkeyup="calculateSRP()"/>
						</div>
						<label class="control-label col-sm-2" for="sellRe">To Return</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" step="any" min="0" id="sellReturn" name="re" readonly="readonly"/>
						</div>
	<!-- 					<div class="col-sm-2">
							<input type="text" placeholder="Remarks" class="form-control" id="sellRemarks" name="remarks"/>
						</div>
	 -->				</div>
					<div class="form-group text-center">
						<button type="button" id="addInviceItem" class="btn btn-success">
							<span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
						</button>
						<button type="reset" id="resetItem" class="btn btn-warning" onclick="resetBSDD('sellItemDD')">
							<span class="glyphicon glyphicon-refresh"></span> Cancel
						</button>
						<!-- <button type="button" id="deleteSellItem" class="btn btn-danger">
							<span class="glyphicon glyphicon-minus-sign"></span> delete
						</button> -->
	<!-- 					<button type="button" id="revertSell" class="btn btn-danger">
							<span class="glyphicon glyphicon-minus-sign"></span> Sale Return
						</button>
	 -->					
					</div>
				</form>
				<br>
				<div id="iDiv" class="form-group col-sm-12  text-center">
					<div class="col-sm-3"></div>
					<div class="table-bordered table-striped col-sm-6">
						<table id="tablesi" class="display" style="width:100%">
							<thead>
								<tr>
									<th class="col-sm-1">Item id</th>
									<th class="col-sm-2">Name/Code</th>
									<th class="col-sm-2">Qty</th>
									<th class="col-sm-2">Price</th>
									<th class="col-sm-2">Disc</th>
									<th class="col-sm-2">Total</th>
									<th class="col-sm-1">Action</th>
								</tr>
							</thead>
							<tfoot>
					            <tr>
					                <th></th>
					                <th style="text-align: center">Totals:</th>
					                <th style="text-align: center"></th>
					                <th style="text-align: center"></th>
					                <th style="text-align: center"></th>
					                <th id="sellTotal" style="text-align: center"></th>
					                <th></th>
					            </tr>
					        </tfoot>
						</table>
	 				<div class="form-group" style="padding-top: 15px;padding-bottom: 25px;">
						<div class="col-sm-3">
							<input type="text" class="form-control" id="sellCN"
								name="cn" placeholder=" Customer name ">
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="sellCC" name="cc" placeholder="Mobile number"/>
						</div>
						<div class="col-sm-3">
							<input type="number" step="any" min="0" class="form-control" id="sellRec"
								name="cn" placeholder=" Received " onkeyup="calculateChange()">
						</div>
						<div class="col-sm-3">
							<input type="number" step="any" min="0" class="form-control" id="sellCh" readonly="readonly" placeholder="Change">
						</div>
					</div>
	 		
	 				</div>	
					<div class="col-sm-3"></div>
				</div>
				<div class="form-group text-center">
					<button type="button" id="addSell" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Sell
					</button>
					<!-- <input type="checkbox" checked="checked" name="print" id="sellP"><span  class="glyphicon glyphicon-print"></span></input> -->
					<button type="button" id="resetItem" class="btn btn-warning" onclick="resetCart()">
						<span class="glyphicon glyphicon-shopping-cart"></span> Delete cart
					</button>
	<!-- 				<button type="button" id="addSell" class="btn btn-success">print and submit
						<span class="glyphicon glyphicon-print"></span> Sell & Print
					</button>					
	 -->			
	 			</div>			
				<div>
					Toggle column: <a class="toggle-vis" data-column="2">Code</a> - <a class="toggle-vis" data-column="3">Name</a>
					  - <a class="toggle-vis" data-column="4">QTY</a>
					  - <a class="toggle-vis" data-column="5">BatchNo</a> - <a class="toggle-vis" data-column="6">Expiry</a>
					  - <a class="toggle-vis" data-column="7">P/U price</a> - <a class="toggle-vis" data-column="8">S/U price</a>
					  - <a class="toggle-vis" data-column="9">Disc type</a> - <a class="toggle-vis" data-column="10">Discount</a>
					  - <a class="toggle-vis" data-column="11">Total</a> - <a class="toggle-vis" data-column="12">Profit</a>
					  - <a class="toggle-vis" data-column="13">Customer Name</a> - <a class="toggle-vis" data-column="14">Customer Contact</a>
					  - <a class="toggle-vis" data-column="15">DateTime</a>
				</div>
				<table id="tableSell" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th data-field="sellId">ID</th>
							<th data-field="checkDelete"></th>
							<th data-field="sellItemDD">Code</th>
							<th data-field="sellItemName">Name</th>
							<th data-field="sellItems">QTY</th>
							<th data-field="sellItemBatchNo">BatchNo</th>
							<th data-field="sellItemExpiry">Expiry</th>
							<th data-field="sellPurchaseRate">P/U Price</th>
							<th data-field="sellSellRate">S/U Price</th>
							<th data-field="sellDiscountTypeDD">Disc Type</th>
							<th data-field="sellDiscount">Discount</th>
							<th data-field="sellTotalAmount">Total</th>
							<th data-field="sellNetAmount">Profit</th>
							<th data-field="sellCN">Customer Name</th>
							<th data-field="sellCC">Customer Contact</th>
	<!-- 						<th data-field="sellsrp">Return profit</th>
							<th data-field="sellRe">Return reason</th>
	 -->						<th data-field="updated">DateTime</th>
						</tr>
					</thead>
				</table>
			</div>
			
			<div id="SRDiv" class="formDiv">
				<h4>Sale reports</h4>
				<form action="/" method="POST" class="form-horizontal" role="form"
					enctype="utf8" id="SR" autocomplete="off">
					<div class="form-group">
						<label class="control-label col-sm-2 req"  for="srb">Sell By</label>
						<div class="col-sm-4">
							<select class="form-control" id="srb" name="sb" required="required">
								<option class="dropdown-item" value=-1 selected="selected">All</option>
								<option class="dropdown-item" value=0 disabled="disabled">Company</option>
								<option class="dropdown-item" value=1 disabled="disabled">Vender</option>
								<option class="dropdown-item" value=2 disabled="disabled">Item</option>
							</select>	
						</div>
						<div id="fvidiv">
							<label class="control-label col-sm-2" for="sri">Enter Id</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="sri" name="ri"
									placeholder=" Enter Id "> 
							</div>					
						</div>					
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2 req"  for="srp">Period</label>
						<div class="col-sm-4">
							<select class="form-control" id="dateRangeDDSR" name="rp" required="required">
								<option class="dropdown-item" value=0 selected="selected">Current month</option>
	<!-- 							<option class="dropdown-item" value=2>Last 2 month</option>
								<option class="dropdown-item" value=3>Last 3 month</option>
	 -->							<option class="dropdown-item" value=4>Custom range</option>
							</select>	
						</div>
						<label class="control-label col-sm-2 req"  for="srbs">Status By</label>
						<div class="col-sm-4">
							<select class="form-control" id="srbs" name="rbs" required="required">
								<option class="dropdown-item" value="" selected="selected">All</option>
								<option class="dropdown-item" value="Active" disabled="disabled">Active</option>
								<option class="dropdown-item" value="Inactive" disabled="disabled">Inactive</option>
								<option class="dropdown-item" value="Expired" disabled="disabled">Expired</option>
							</select>	
						</div>
					</div>
					<div class="form-group">
						<div id="dateRangeSR" style="display: none">
							<label class="control-label col-sm-2">date range</label>
							<div class="col-sm-2">
								<input type="text" class="form-control datetimepicker" id="srsd" name="sd"
									placeholder=" Start Date"> 
							</div>
							<div class="col-sm-2">
								<input type="text" class="form-control datetimepicker" id="sred" name="ed"
									placeholder=" End Date"> 
							</div>
							<div class="col-sm-6">
							</div>
						</div>
					</div>
					<div class="form-group text-center">
						<button type="button" onclick="loadSR()" class="btn btn-success">
							<span class="glyphicon glyphicon-sunglasses"></span> View
						</button>
					</div>
				</form>
				<table id="tableSellReport" class="table table-striped text-center">
			        <thead>
			            <tr>
							<th>Item detail/Code</th>
							<th>Stock</th>
							<th>P/U Price</th>
							<th>S/U Price</th>
							<th>Qty</th>
							<th>Discount</th>
							<th>Type</th>
							<th>Total</th>
							<th>Profit</th>
							<th>Customer Name</th>
							<th>Customer Contact</th>
							<th>Return profit</th>
							<th>Return reason</th>
							<th>Dated</th>
			            </tr>
			        </thead>
					<tfoot>
			            <tr>
			                <th>Totals:</th>
			                <th></th>
			                <th></th>
			                <th></th>
			                <th></th>
			                <th></th>
			                <th></th>
			                <th></th>
			                <th></th>
			                <th></th>
			                <th></th>
			                <th></th>
			                <th></th>
			                <th></th>
			            </tr>
			        </tfoot>
	   		    </table>
			</div>		
		</div>
		<div th:replace="footer :: footer" />
	</div>	
	<script th:inline="javascript">
var serverContext = [[@{/}]];
	</script>
</body>
</html>
