<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="header :: header-css" />

<!-- start for export -->
<!-- 
<script src="resources/js/business/jquery-3.3.1.js"></script>
<script src="resources/js/business/jquery.dataTables.min.js"></script>
<script src="resources/js/business/dataTables.buttons.min.js"></script>
<script src="resources/js/business/buttons.flash.min.js"></script>
<script src="resources/js/business/jszip.min.js"></script>
<script src="resources/js/business/pdfmake.min.js"></script>
<script src="resources/js/business/vfs_fonts.js"></script>
<script src="resources/js/business/buttons.html5.min.js"></script>
<script src="resources/js/business/buttons.print.min.js"></script>
 -->
<!-- end for export -->
<script src="resources/js/business/business.js"></script>

</head>
<body>
	<div th:replace="header :: header" />
	<nav class="subnav" id="nav-subheader">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<div class="navbar-header active">
					<p style="color: lightskyblue; padding-top: 17px"
						class="glyphicon glyphicon-user" th:if="${param.user} != null"
						th:text="${param.user[0]}">User</p>
				</div>
				<li>
					<select name="registrationType" id="registrationType" class="dropdown show panel-heading">
						<option class="dropdown-item" value="">Register</option>
						<option class="dropdown-item" value="CompanyDiv">Company</option>
						<option class="dropdown-item" value="VenderDiv">Vender/Supplier</option>
<!-- 						<option class="dropdown-item" value="ItemTypeDiv">Item Type</option>
						<option class="dropdown-item" value="ItemUnitDiv">Item Unit</option>
 -->						
 						<option class="dropdown-item" value="itemDiv">Item</option>
						<!-- <option class="dropdown-item" value="Customer">Customer</option> -->
					</select>
				</li>
				<li>
					<select name="purchaseType" id="purchaseType" class="dropdown show panel-heading">
						<option class="dropdown-item" value="">Purchase</option>
						<option class="dropdown-item" value="purchaseDiv"> New Purchase </option>
<!-- 						<option class="dropdown-item" value="purchaseReturnDiv"> Manage Purchase </option>
						<option class="dropdown-item" value="PurchaseInvoice"> Purchase Invoice </option>
 -->					</select>
				</li>
				<li>
					<select name="sellType" id="sellType" class="dropdown show panel-heading">
						<option class="dropdown-item" value="">Sell</option>
						<option class="dropdown-item" value="sellDiv"> Manage Sell </option>
<!-- 						<option class="dropdown-item" value="sellReturnDiv"> Manage Sell</option>
						<option class="dropdown-item" value="sellInvoiceDiv">Sell Invoice</option>
 -->					</select>
				</li>
			</ul>					
		</div>
	</nav>
	<div class="container content-cls">
		<div id="CompanyDiv" class="formDiv">
			<h3 th:text="#{label.company.form.heading}">Company Registration
				Form</h3>
			
			<!-- <form class="form-horizontal" role="form"> -->
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Company" autocomplete="off">
				<div class="form-group" style="display: none">
					<div class="col-sm-6">
						<input type="number" class="form-control" id="companyId" name="id" readonly="readonly"/> 
					</div>
					<div class="col-sm-6">
						<input type="date" class="form-control" id="companyDated" name="dated" readonly="readonly"/> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="companyName">Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="companyName" name="name"
							placeholder="Company Name" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="companyPhone">Phone:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="companyPhone" name="phone"
							placeholder="Phone Number" required="required"> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="companyEmail">Email:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="companyEmail"
							name="email" placeholder="Email Address">
					</div>
					<label class="control-label col-sm-2" for="address">Address:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="companyAddress"
							name="address" placeholder="Complete Address" required="required">
					</div>
				</div>
				<!-- 		
		<div class="form-group">
			<label class="control-label col-sm-2" for="dateBirth">Date of Birth:</label>
			<div class="col-sm-4">
				<div class="input-group date" id="pickerDateBirth">
                    <input type='text' id="dateBirth" class="form-control" placeholder="dd/MM/yyyy" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
			</div>
		</div>
 -->
				<div class="form-group">
					<!--
				<button type="submit" class="btn btn-info btn-cls"
					th:text="#{label.form.submit}">submit</button>
 				<button type="button" id="buttonSearch" class="btn btn-info">
					<span class="glyphicon glyphicon-search"></span> Search
				</button>
-->
					<button type="button" id="addCompany" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<!-- <button type="button" id="updateCompany" class="btn btn-info">
						<span class="glyphicon glyphicon-pencil"></span> Update
					</button> -->
					<button type="button" id="deleteCompany" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetItem" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<div>
				<table id="tableCompany" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-sm-1" data-field="companyId">ID</th>
							<th class="col-sm-1" data-field="checkDelete"></th>
							<th class="col-sm-3" data-field="companyName">Name</th>
							<th class="col-sm-1" data-field="companyPhone">Phone</th>
							<th class="col-sm-2" data-field="companyEmail">Email</th>
							<th class="col-sm-3" data-field="companyAddress">Address</th>
							<th class="col-sm-1" data-field="companyDated">Dated</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div id="VenderDiv" class="formDiv">
			
			<h3 th:text="#{label.vender.form.heading}">Vender Registration
				Form</h3>
			
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Vender" autocomplete="off">
				<div class="form-group" style="display: none">
					<div class="col-sm-6">
						<input type="number" class="form-control" id="venderId" name="id" readonly="readonly"/> 
					</div>
<!-- 					<div class="col-sm-6">
						<input type="number" class="form-control" id="venderDated" name="dated" readonly="readonly"/> 
					</div>
 -->				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.company}">Select	Company</label> 
					<div class="col-sm-4">
						<select	class="form-control" id="venderCompanyDD" name="companyId">
						</select>
					</div>
					<label class="control-label col-sm-2" for="name">Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="venderName" name="name"
							placeholder="Vender Name" required="required">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="phone">Phone:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="venderPhone" name="phone"
							placeholder="Phone Number">
					</div>
					<label class="control-label col-sm-2" for="mobile">Mobile:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="venderMobile" name="mobile"
							placeholder="Mobile Number" required="required">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Email:</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="venderEmail" name="email"
							placeholder="Email address">
					</div>
					<label class="control-label col-sm-2" for="address">Address:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="venderAddress"
							name="address" placeholder="Complete Address" required="required"> 
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addVender" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteVender" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetItem" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<div>
				<table id="tableVender" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-sm-1" data-field="venderId">ID</th>
							<th class="col-sm-1" data-field="checkDelete"></th>
							<th class="col-sm-2" data-field="venderName">Name</th>
							<th class="col-sm-2" data-field="venderCompany">Company</th>
							<th class="col-sm-1" data-field="venderPhone">Phone</th>
							<th class="col-sm-1" data-field="venderMobile">Mobile</th>
							<th class="col-sm-1" data-field="venderEemail">Email</th>
							<th class="col-sm-2" data-field="venderAddress">Address</th>
							<th class="col-sm-1" data-field="dated">Dated</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div id="itemDiv" class="formDiv">
			
			<h4 th:text="#{label.item.form.heading}">Item Registration Form</h4>
			
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Item" autocomplete="off">
				<div class="form-group" style="display: none">
					<div class="col-sm-6">
						<input type="number" class="form-control" id="itemId" name="id" readonly="readonly"/> 
					</div>
				</div>
				<div class="form-group" id="Item">
					<label class="control-label col-sm-2" for="itemName">Full Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="itemName" name="name"
							placeholder="Item Name" required="required">
					</div>
					<label class="control-label col-sm-2" for="itemCode">Code:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="itemCode" name="code"
							placeholder="Item Code">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.company}">Select
						Company</label> <span class="col-sm-4"> <select
						class="form-control" id="itemCompanyDD" name="companyId">
					</select>
					</span>
					<label class="control-label col-sm-2" th:text="#{label.vender}">Select
						Vender</label> <span class="col-sm-4"> <select
						class="form-control" id="itemVenderDD" name="venderId">
					</select>
					</span>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="itemSellAmount">Sell/Unit price:</label>
					<div class="col-sm-4">
						<input type="number" step="any" min="0" class="form-control" id="itemSellAmount"
							name="sellAmount" placeholder=" Sell Amount 0.0" onkeyup="calculateNet()">
					</div>
					<label class="control-label col-sm-2" for="itemPurchaseAmount">Purchase/Unit price:</label>
					<div class="col-sm-4">
						<input type="number" step="any" class="form-control" id="itemPurchaseAmount"
							name="purchaseAmount" placeholder=" Purchase Amount 0.0" onkeyup="calculateNet()">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="discountTypeDD">Discount Type:</label>
					<div class="col-sm-4">
						<select name="discountType" id="discountTypeDD" class="form-control" onchange="calculateNet()" required="required">
							<option class="dropdown-item" value="amount" selected="selected">amount</option>
							<option class="dropdown-item" value="%">%</option>
						</select>
					</div>
					<label class="control-label col-sm-2" for="itemDiscount">Fix discount:</label>
					<div class="col-sm-4">
						<input type="number" step="any" class="form-control" id="itemDiscount"
							name="discount" placeholder=" Discount 0.0" onkeyup="calculateNet()">
					</div>
				</div>
<!-- 				<div class="form-group">
					<label class="control-label col-sm-2" for="itemNet">Profit:</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="itemNet" step=any min="0"
							name="net" placeholder=" Net Amount 0.0" required="required">
					</div>
				</div>
 -->				<div class="form-group">
					<label class="control-label col-sm-2" for="itemStock">Available Stock:</label>
					<div class="col-sm-4">
						<input type="number" step="any" min="0" class="form-control" id="itemStock"
							name="stock" placeholder=" Availabe Stock">
					</div>
					<label class="control-label col-sm-2" for="itemExpDate">Expiration Date:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control datePicker" id="itemExpDate" name="expDateStr"
							placeholder=" Expiry Date "> 
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addItem" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteItem" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetItem" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<div>
				<table id="tableItem" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-sm-1" data-field="itemId">ID</th>
							<th class="col-sm-1" data-field="checkDelete"></th>
							<th class="col-sm-1" data-field="itemCode">Item Code</th>
							<th class="col-sm-1" data-field="itemName">Name</th>
							<th class="col-sm-1" data-field="itemCompanyDD">Company</th>
							<th class="col-sm-1" data-field="itemVenderDD">Vender</th>
							<!-- <th class="col-sm-1" data-field="itemTypeDD">Type</th> -->
							<!-- <th class="col-sm-1" data-field="itemUnitDD">Unit</th> -->
							<th class="col-sm-1" data-field="itemPurchaseAmount">P/U Price</th>
							<th class="col-sm-1" data-field="itemSnellAmount">S/U Price</th>
							<th class="col-sm-1" data-field="discountTypeDD">Disc Type</th>
							<th class="col-sm-1" data-field="itemDiscount">Discount</th>
							<!-- <th class="col-sm-1" data-field="itemNet">Profit</th> -->
							<th class="col-sm-1" data-field="itemExpDate">Exp. Date</th>
							<th class="col-sm-1" data-field="itemStock">Stock</th>
							<th class="col-sm-1" data-field="dated">Dated</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>

		<div id="purchaseDiv" class="formDiv">
			<h4 th:text="#{label.purchase.form.heading}">Purchase Form</h4>
			
			<!-- <form class="form-horizontal" role="form"> -->
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Purchase" autocomplete="off">
				<div class="form-group" style="display: none">
					<div class="col-sm-12">
						<input type="number" class="form-control" id="purchaseId" name="id" readonly="readonly"/> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.item}">Select Item</label> 
					<div class="col-sm-4">
						<select
							class="form-control onChangeSelect" id="purchaseItemDD" name="itemId">
						</select>
					</div>
					<label class="control-label col-sm-2" for="purchaseQuantity">QTY:</label>
					<div class="col-sm-4">
						<input type="number" step="any" min="0" placeholder=" Enter total item" class="form-control" id="purchaseQuantity" name="quantity" onkeyup="calculateNetPurchase()"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="purchaseSellAmount">S/U Price:</label>
					<div class="col-sm-4">
						<input type="number" step="any" class="form-control" id="purchaseSellRate"
							name="sellRate" placeholder=" Sell Amount 0.0" onkeyup="calculateNetPurchase()">
					</div>
					<label class="control-label col-sm-2" for="purchasePurchaseRate">P/U Price:</label>
					<div class="col-sm-4">
						<input type="number" step="any" class="form-control" id="purchasePurchaseRate"
							name="purchaseRate" placeholder=" Purchase Amount 0.0" required="required" onkeyup="calculateNetPurchase()">
					</div>
				</div>
<!-- 				<div class="form-group">
					<label class="control-label col-sm-2" for="purchaseExpense">Purchase Expense:</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="purchaseExpense" step=any min="0"
							name="purchaseExpense" placeholder=" Purchase expense" onblur="calculate()">
					</div>
					<label class="control-label col-sm-2" for="purchaseExpenseDesc">Purchase Expense Description:</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="purchaseExpenseDesc" step=any min="0"
							name="purchaseExpenseDesc" placeholder="Purchase expense desc">
					</div>
				</div>
 -->
				<div class="form-group">
					<label class="control-label col-sm-2" for="purchaseTotalAmount">Total:</label>
					<div class="col-sm-4">
						<input type="number" step="any" class="form-control" id="purchaseTotalAmount" name="totalAmount" style="display: none">
						<output class="form-control" id="totalAmount">
					</div>
					<label class="control-label col-sm-2" for="purchaseDiscount" id="pdt">Discount:</label>
					<div class="col-sm-4">
						<input type="number" step=any class="form-control" id="purchaseDiscount"
							name="discount" placeholder=" Discount 0.0" onkeyup="calculateNetPurchase()">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="net">Profit:</label>
					<div class="col-sm-4">
						<input type="number" step=any class="form-control" id="purchaseNetAmount" name="netAmount" style="display: none">
						<output class="form-control" id="netAmount">
					</div>
					<label class="control-label col-sm-2" for="purchaseStock">Stock In Hand:</label>
					<div class="col-sm-4">
						<input type="number" step="any" min="0" class="form-control" id="purchaseStock" name="stock" style="display: none"/>
						<output class="form-control" id="stok"/>
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addPurchase" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deletePurchase" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetPurchase" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<table id="tablePurchase" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="col-sm-1" data-field="purchaseId">ID</th>
						<th class="col-sm-1" data-field="checkDelete"></th>
						<!-- <th class="col-sm-1" data-field="purchaseItemId">Item ID</th> -->
						<th class="col-sm-2" data-field="purchaseItemName">Name</th>
						<th class="col-sm-1" data-field="purchaseQuantity">Qty</th>
						<th class="col-sm-1" data-field="purchaseSellRate">S/U Price</th>
						<th class="col-sm-1" data-field="purchasePurchaseRate">P/U Price</th>
<!-- 						<th class="col-sm-1" data-field="purchaseExpense">P Exp</th>
						<th class="col-sm-1" data-field="purchaseExpenseDesc">P Exp Desc</th>
 -->
						<th class="col-sm-1" data-field="purchaseTotalAmount">Total</th>
						<th class="col-sm-1" data-field="purchaseDiscount">Discount</th>
						<th class="col-sm-1" data-field="purchaseNetAmount">Profit</th>
						<th class="col-sm-1" data-field="purchaseStock">Stock</th>
						<th class="col-sm-1" data-field="dated">Dated</th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="sellDiv" class="formDiv">
			<h4 th:text="#{label.sell.form.heading}">Sell Form</h4>
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Sell" autocomplete="off">
				<div class="form-group" style="display: none">
					<div class="col-sm-12">
						<input type="number" class="form-control" id="sellId" name="id" readonly="readonly"/> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.item}">Select Item</label> 
					<div class="col-sm-4">
						<select
							class="form-control onChangeSelect selectpicker" id="sellItemDD" name="itemId" data-live-search="true">
						</select>
					</div>
					<label class="control-label col-sm-2" for="sellItems">QTY:</label>
					<div class="col-sm-4">
						<input type="number" step="any" min="0" placeholder=" Enter total item" class="form-control" id="sellItems" name="quantity" onkeyup="calculateNetSell()"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="sellSellAmount">S/U Price:</label>
					<div class="col-sm-4">
						<input type="number" step="any" min="0" class="form-control" id="sellSellRate"
							name="sellRate" placeholder=" Sell Amount " onkeyup="calculateNetSell()">
					</div>
					<label class="control-label col-sm-2" for="sellPurchaseRate">P/U Price:</label>
					<div class="col-sm-4">
						<input type="number" step="any" min="0" class="form-control" id="sellPurchaseRate"
							name="purchaseRate" placeholder=" Purchase Amount " required="required" onkeyup="calculateNetSell()">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="sellTotalAmount">Total:</label>
					<div class="col-sm-4">
						<input type="number" step="any" class="form-control" id="sellTotalAmount" name="totalAmount" readonly="readonly"/>
						<!-- <output class="form-control" id="stotalAmount"> -->
					</div>
					<label class="control-label col-sm-2" for="sellDiscount" id="sdt">Discount:</label>
					<div class="col-sm-2">
						<input type="number" step="any" class="form-control" id="sellDiscount"
							name="discount" placeholder=" Discount 0.0" onkeyup="calculateNetSell()">
					</div>
					<div class="col-sm-2">
						<select id="selldtDD" name="dt" class="form-control" onchange="calculateNetSell()" required="required">
							<option class="dropdown-item" value="amount" selected="selected">amount</option>
							<option class="dropdown-item" value="%">%</option>
						</select>
					</div>					
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="net">Profit</label>
					<div class="col-sm-4">
						<input type="number" step="any" class="form-control" id="sellNetAmount" name="netAmount" readonly="readonly"/>
						<!-- <output class="form-control" id="snetAmount"> -->
					</div>
					<label class="control-label col-sm-2" for="sellStock">Stock In Hand:</label>
					<div class="col-sm-4">
						<input type="number" step="any" min="0" class="form-control" id="sellStock" name="stock" readonly="readonly"/>
						<!-- <output class="form-control" id="sstok"/> -->
					</div>
				</div>
				<div class="form-group">
 					<label class="control-label col-sm-2" for="sellrm">Add deduction</label>
 					<div class="col-sm-2">
						<input type="number" step="any" class="form-control" id="sellsrp" name="srp" onkeyup="calculateSRP()"/>
					</div>
					<div class="col-sm-2">
						<select id="srpDD" class="form-control" onchange="calculateSRP()">
							<option class="dropdown-item" value="amount" selected="selected">amount</option>
							<option class="dropdown-item" value="%">%</option>
						</select>
					</div>					
 					<label class="control-label col-sm-2" for="sellrm">Receive amount</label>
 					<div class="col-sm-4">
						<input type="number" step="any" min="0" class="form-control" id="sellrm" readonly="readonly"/>
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addSell" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="revertSell" class="btn btn-danger">
						<span class="glyphicon glyphicon-minus-sign"></span> Return
					</button>
					<button type="reset" id="resetSell" class="btn btn-warning" onclick="resetBSDD('sellItemDD')">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<table id="tableSell" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="col-sm-1" data-field="sellId">ID</th>
						<th class="col-sm-1" data-field="sellItemDD">Name</th>
						<th class="col-sm-1" data-field="sellSellRate">S/U Price</th>
						<th class="col-sm-1" data-field="sellPurchaseRate">P/U Price</th>
						<th class="col-sm-1" data-field="sellItems">Qty</th>
						<th class="col-sm-1" data-field="sellTotalAmount">Total</th>
						<th class="col-sm-1" data-field="sellDiscount">Discount</th>
						<th class="col-sm-1" data-field="selldtDD">Type</th>
						<th class="col-sm-1" data-field="sellNetAmount">Profit</th>
						<th class="col-sm-1" data-field="sellsrp">S/R Profit</th>
						<th class="col-sm-1" data-field="sellStock">Stock</th>
						<th class="col-sm-1" data-field="dated">Dated</th>
					</tr>
				</thead>
			</table>
		</div>
		
		<!-- below 2 sections are temporary hidden -->
		
<!-- 		<div id="ItemTypeDiv" class="formDiv">
			
			<h4 th:text="#{label.itemType.form.heading}">Item Type Registration Form</h4>
			
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="ItemType" autocomplete="off">
				<div class="form-group" style="display: none">
					<div class="col-sm-6">
						<input type="number" class="form-control" id="itemTypeId" name="id" readonly="readonly"/> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="itemTypeName">Item Type:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="itemTypeName" name="name"
							placeholder="Item Type" required="required">
					</div>
					<label class="control-label col-sm-2" for="itemTypeDescription">Description:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="itemTypeDescription"
							name="description" placeholder="Description">
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addItemType" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteItemType" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetItem" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<table id="tableItemType" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="col-sm-3" data-field="itemTypeId">ID</th>
						<th class="col-sm-3" data-field="checkDelete"></th>
						<th class="col-sm-3" data-field="itemTypeName">Item Type</th>
						<th class="col-sm-3" data-field="itemTypeDescription">Description</th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="ItemUnitDiv" class="formDiv">
			
			<h4 th:text="#{label.itemUnit.form.heading}">Item Unit Registration Form</h4>
			
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="ItemUnit" autocomplete="off">
				<div class="form-group" style="display: none">
					<div class="col-sm-6">
						<input type="number" class="form-control" id="itemUnitId" name="id" readonly="readonly"/> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="itemUnitName">Item Unit:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="itemUnitName" name="name"
							placeholder="Item Unit" required="required">
					</div>
					<label class="control-label col-sm-2" for="itemUnitDescription">Description:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="itemUnitDescription"
							name="description" placeholder="Description">
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addItemUnit" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteItemUnit" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetItem" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<table id="tableItemUnit" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="col-sm-3" data-field="itemUnitId">ID</th>
						<th class="col-sm-3" data-field="checkDelete"></th>
						<th class="col-sm-3" data-field="itemUnitName">Item Unit</th>
						<th class="col-sm-3" data-field="itemUnitDescription">Description</th>
					</tr>
				</thead>
			</table>
		</div>	
 -->		
			
	</div>
	<script th:inline="javascript">
var serverContext = [[@{/}]];
	</script>
	<div th:replace="footer :: footer" />
</body>
</html>
