<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="header :: header-css" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/> 
<link rel="stylesheet"	href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css">

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<script src="resources/bootstrap/js/moment.js"></script>
<script src="resources/bootstrap/js/bootstrap-datetimepicker.js"></script>
<script src="resources/js/datatables.min.js"></script>
<script src="resources/js/education/education.js"></script>
<script src="resources/js/main.js"></script>
</head>
<body>
	<div th:replace="header :: header" />
	<nav class="subnav" id="nav-subheader">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<div class="navbar-header active">
					<p style="color: lightskyblue; padding-top: 17px"
						class="glyphicon glyphicon-user" th:if="${param.user} != null"
						th:text="${param.user[0]}">User</p>
				</div>
				<li>
					<select name="registrationType" id="registrationType" class="dropdown show panel-heading">
						<option class="dropdown-item" value="">Manage Registrations</option>
						<option class="dropdown-item" value="OwnerDiv">Owners</option>
						<option class="dropdown-item" value="SchoolDiv">Schools</option>
						<option class="dropdown-item" value="VehicleDiv">Vehicles</option>
						<option class="dropdown-item" value="GradeDiv">Grades</option>
						<option class="dropdown-item" value="StaffDiv">Staff</option>
	 					<option class="dropdown-item" value="SubjectDiv">Subjects</option>
						<option class="dropdown-item" value="GuardianDiv">Guardians</option>
						<option class="dropdown-item" value="StudentDiv">Students</option>
						<option class="dropdown-item" value="DiscountDiv">Discounts</option>
					</select>
				</li>
				<li>
					<select name="communicationType" id="communicationType" class="dropdown show panel-heading">
						<option class="dropdown-item" value="">Manage Alerts</option>
						<option class="dropdown-item" value="AlertsDiv">Alerts</option>
					</select>
				</li>
				<li>
					<select name="attendanceType" id="attendanceType" class="dropdown show panel-heading">
						<option class="dropdown-item" value="">Manage Attendance</option>
						<option class="dropdown-item" value="newAttendance">Attendance</option>
					</select>
				</li>
			</ul>					
		</div>
	</nav>
	<div class="container content-cls">
		<div id="OwnerDiv" class="formDiv">
			<h3 th:text="#{label.owner.form.heading}">Owner Registration</h3>
			<br />
			<!-- <form class="form-horizontal" role="form"> -->
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Owner" autocomplete="off">
				<div class="form-group" style="display: none">				
					<div class="col-sm-6">
						<input type="text" class="form-control" id="ownerId" name="id"> 
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="ownerDated" name="datedStr"> 
					</div>
				</div>
				<div class="form-group">				
					<label class="control-label col-sm-2" for="ownerName">Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="ownerName" name="name"
							placeholder=" Owner Name" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="ownerEmail">Email:</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="ownerEmail" name="email"
							placeholder="Email address">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="ownerMobile">Mobile:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="ownerMobile" name="mobile"
							placeholder="Mobile Number" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="ownerAddress">Address:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="ownerAddress"
							name="address" placeholder="Compalete Address" required="required">
					</div>
				</div>
				<div class="form-group">
 					<label class="control-label col-sm-2" th:text="#{label.select.status}" for="ownerStatus">Status:</label>
					<div class="col-sm-4">
						<select class="form-control" id="ownerStatus" name="status">
							<option class="dropdown-item" value="">Nothing Selected</option>					
							<option class="dropdown-item" value="Active">Active</option>
		 					<option class="dropdown-item" value="Inactive">Inactive</option>
		 				</select>
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addOwner" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteOwner" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetOwner" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<table id="tableOwner" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="col-sm-1" data-field="ownerId">Id</th>
						<th class="col-sm-1" data-field="checkDelete">Check</th>
						<th class="col-sm-2" data-field="name">Name</th>
						<th class="col-sm-2" data-field="email">Email</th>
						<th class="col-sm-1" data-field="mobile">Mobile</th>
						<th class="col-sm-3" data-field="address">Address</th>
						<th class="col-sm-3" data-field="ownerStatus">Status</th>
						<th class="col-sm-2" data-field="ownderDated">Dated</th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="SchoolDiv" class="formDiv">
			<h3 th:text="#{label.School.form.heading}">School Registration</h3>
			<br />
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="School" autocomplete="off">
				<div class="form-group" style="display: none">				
					<div class="col-sm-6">
						<input type="text" class="form-control" id="schoolId" name="id"> 
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="schoolDated" name="datedStr"> 
					</div>
				</div>
				<div class="form-group" id="mainBranchDiv">
					<label class="control-label col-sm-2" th:text="#{label.select.owner}">Owner name</label> 
					<div class="col-sm-4">
						<select multiple="multiple" class="form-control" id="schoolOwnerDD" name="ownerIds" required="required">
						</select>
					</div>
					<label class="control-label col-sm-2" for="schoolEmail" th:text="#{label.email}">Email:</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="schoolEmail" name="email"
							placeholder="Email address">
					</div>
<!-- 					<label class="control-label col-sm-2" for="schoolMain" th:text="#{label.main.branch}">Main Branch Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="schoolName" name="name">
					</div>
 -->				
 				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="schoolBranchName" th:text="#{label.branch}">Branch Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="schoolBranchName"
							name="branchName" placeholder="Branch name">
					</div>
					<label class="control-label col-sm-2" for="schoolPhone" th:text="#{label.phone}">Phone Number:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="schoolPhone" name="phone"
							placeholder="Phone Number" required="required"> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="schoolAddress" th:text="#{label.address}">Address:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="schoolAddress"
							name="address" placeholder="Compalete Address" required="required">
					</div>
 					<label class="control-label col-sm-2" th:text="#{label.select.status}" for="schoolStatus">Status:</label>
					<div class="col-sm-4">
						<select class="form-control" id="schoolStatus" name="status">
							<option class="dropdown-item" value="">Nothing Selected</option>					
							<option class="dropdown-item" value="Active">Active</option>
		 					<option class="dropdown-item" value="Inactive">Inactive</option>
		 				</select>
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addSchool" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteSchool" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetSchool" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<div>
				<table id="tableSchool" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-sm-1" data-field="schoolId">Id</th>
							<th class="col-sm-1" data-field="checkDelete">Check</th>
							<th class="col-sm-2" data-field="owner">Owner</th>
							<!-- <th class="col-sm-1" data-field="name">Main branch</th> -->
							<th class="col-sm-2" data-field="branchName">Branch Name</th>
							<th class="col-sm-1" data-field="phone">Phone</th>
							<th class="col-sm-1" data-field="email">Email</th>
							<th class="col-sm-2" data-field="address">Address</th>
							<th class="col-sm-1" data-field="schoolStatus">Status</th>
							<th class="col-sm-1" data-field="schoolDated">Dated</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div id="GradeDiv" class="formDiv">
			<h3 th:text="#{label.grade.form.heading}">Grade Registration</h3>
			<br />
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Grade" autocomplete="off">
				<div class="form-group" style="display: none">				
					<div class="col-sm-6">
						<input type="text" class="form-control" id="gradeId" name="id"> 
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="schoolDated" name="datedStr"> 
					</div>
				</div>				
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.select.school}" for="gradeSchoolDD">Select School</label> 
					<div class="col-sm-4">
						<select class="form-control" id="gradeSchoolDD" name="schoolId" required="required">
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.name}" for="gradeName">Name:</label> 
					<div class="col-sm-4">
						<input id="gradeName" class="form-control" type="text"	name="name" value="" required="required"/>
					</div>
					<label class="control-label col-sm-2" th:text="#{label.code}" for="gradeCode">Code:</label> 
					<div class="col-sm-4">
						<input id="gradeCode" class="form-control" type="text"	name="code" value=""/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.start.time}" for="gradeTimeFromStr">Time From:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control timepicker text-center" id="gradeTimeFromStr"
							name="timeFromStr" placeholder="Enter start time" required="required">
					</div>
					<label class="control-label col-sm-2" for="gradeTimeToStr">Time To:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control timepicker text-center" id="gradeTimeToStr"
							name="timeToStr" placeholder="Enter end time" required="required">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2" th:text="#{label.select.room}">Room:</label> 
					<div class="col-sm-4">
						<select class="form-control" id="gradeRoom" name="room">
							<option class="dropdown-item" value=""> Nothing Selected </option>
							<option th:each="i : ${#numbers.sequence(1, 50)}" th:value="${i}"
								th:text="${i}" th:selected="${i==24}" value=""></option>
						</select>
					</div>
 					<label class="control-label col-sm-2" th:text="#{label.select.status}" for="gradeStatus">Status:</label>
					<div class="col-sm-4">
						<select class="form-control" id="gradeStatus" name="status">
							<option class="dropdown-item" value="">Nothing Selected</option>					
							<option class="dropdown-item" value="Active">Active</option>
		 					<option class="dropdown-item" value="Inactive">Inactive</option>
		 				</select>
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addGrade" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteGrade" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetGrade" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<div class="form-group">
				<table id="tableGrade" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-sm-1" data-field="gradeId">Id</th>
							<th class="col-sm-1" data-field="checkDelete">Check</th>
							<th class="col-sm-2" data-field="schoolName">Branch Name</th>
							<th class="col-sm-2" data-field="name">Name</th>
							<th class="col-sm-1" data-field="code">Code</th>
							<th class="col-sm-1" data-field="timeFromStr">Time From</th>
							<th class="col-sm-1" data-field="timeToStr">Time To</th>
							<th class="col-sm-1" data-field="room">Room</th>
							<th class="col-sm-1" data-field="gradeStatus">Status</th>
							<th class="col-sm-1" data-field="schoolDated">Dated</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div id="StaffDiv" class="formDiv">
			<h3 th:text="#{label.staff.form.heading}">Staff Registration</h3>
			<br />
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Staff" autocomplete="off">
				<div class="form-group" style="display: none">				
					<div class="col-sm-6">
						<input type="text" class="form-control" id="staffId" name="id"> 
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="staffDated" name="datedStr"> 
					</div>
				</div>				
				<div class="form-group">
					<label class="control-label col-sm-2" for="staffName">Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="staffName" name="name"
							placeholder=" Employee Name" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="staffEmail">Email:</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="staffEmail" name="email"
							placeholder="Email address">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="staffMobile">Mobile:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="staffMobile" name="mobile"
							placeholder="Mobile Number" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="staffPhone">Phone:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="staffPhone"
							name="phone" placeholder="Phone number">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.timeIn}" for="staffTimeInStr">Time In:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control timepicker text-center" id="staffTimeInStr"
							name="timeInStr" placeholder=" Time In " required="required">
					</div>
					<label class="control-label col-sm-2" th:text="#{label.timeOut}" for="staffTimeOutStr">Time Out:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control timepicker text-center" id="staffTimeOutStr"
							name="timeOutStr" placeholder=" Time Out " required="required">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="staffDesignation">Designation:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="staffDesignation" name="designation"
							placeholder="Designation" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="staffQualification">Qualification:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="staffQualification"
							name="qualification" placeholder="Qualification" required="required">
					</div>
				</div>
 				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.select.school}">Select Schools:</label> 
					<span class="col-sm-4"> 
						<select multiple="multiple"	class="form-control" id="staffSchoolDD" name="schoolIds"></select>
					</span>
					<label class="control-label col-sm-2" th:text="#{label.select.grade}">Select Grades:</label> 
					<span class="col-sm-4"> 
						<select multiple="multiple"	class="form-control" id="staffGradeDD" name="gradeIds"></select>
					</span>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.select.martial.status}" for="staffMartialStatus">Martial Status:</label>
					<div class="col-sm-4">
						<select	class="form-control" id="staffMartialStatus" name="martialStatus">
							<option class="dropdown-item" value="">Nothing Selected</option>						
							<option class="dropdown-item" value="Single">Single</option>
		 					<option class="dropdown-item" value="Married">Married</option>
		 					<option class="dropdown-item" value="Divorced">Divorced</option>
		 					<option class="dropdown-item" value="Widowed">Widowed</option>
		 				</select>
					</div>
					<label class="control-label col-sm-2" th:text="#{label.select.gender}" for="staffGender">Select Gender:</label>
					<div class="col-sm-4">
						<select	class="form-control" id="staffGender" name="gender">
							<option class="dropdown-item" value="">Nothing Selected</option>						
							<option class="dropdown-item" value="Male">Male</option>
		 					<option class="dropdown-item" value="Female">Female</option>
		 				</select>
					</div>
								
<!-- 					<label class="control-label col-sm-2" th:text="#{label.select.subject}">Select Subjects:</label> 
					<span class="col-sm-4"> 
						<select disabled="disabled" multiple="multiple" class="form-control" id="staffSubjectDD" name="subjectIds"></select>
					</span>
 -->					
				</div>
				<div class="form-group">
 					<label class="control-label col-sm-2" th:text="#{label.select.status}" for="staffStatus">Status:</label>
					<div class="col-sm-4">
						<select class="form-control" id="staffStatus" name="status">
							<option class="dropdown-item" value="">Nothing Selected</option>					
							<option class="dropdown-item" value="Active">Active</option>
		 					<option class="dropdown-item" value="Inactive">Inactive</option>
		 				</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="staffDateOfBirth">Date of Birth:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control datePicker" id="staffDateOfBirth" name="dateOfBirth"
							placeholder="Select DOB" required="required"> 
					</div>					
					<label class="control-label col-sm-2" th:text="#{label.address}" for="staffAddress">Address:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="staffAddress"
							name="address" placeholder="Compalete Address" required="required">
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addStaff" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteStaff" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetStaff" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<div>
				<table id="tableStaff" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-sm-1" data-field="staffId">Id</th>
							<th class="col-sm-1" data-field="checkDelete">Check</th>
							<th class="col-sm-1" data-field="name">Name</th>
							<th class="col-sm-1" data-field="email">Email</th>
							<th class="col-sm-1" data-field="mobile">Mobile</th>
							<th class="col-sm-1" data-field="phone">Phone</th>
 							<th class="col-sm-1" data-field="timeIn">Time In</th>
							<th class="col-sm-1" data-field="timeOut">Time Out</th>
 							<th class="col-sm-1" data-field="designation">Designation</th>
							<th class="col-sm-1" data-field="qualification">Qualification</th>
							<th class="col-sm-1" data-field="staffSchoolDD">Schools</th>
							<th class="col-sm-1" data-field="staffGradeDD">Grades</th>
							<th class="col-sm-1" data-field="staffDateOfBirth">Date of Birth</th>
							<th class="col-sm-1" data-field="gender">Gender</th>
 							<th class="col-sm-1" data-field="martialStatus">Martial Status</th>
							<th class="col-sm-1" data-field="address">Address</th>
							<th class="col-sm-1" data-field="status">Status</th>
							<th class="col-sm-1" data-field="staffDated">Dated</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div id="GuardianDiv" class="formDiv">
			<h3 th:text="#{label.guardian.form.heading}">Guardian Registration</h3>
			<br />
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Guardian" autocomplete="off">
				<div class="form-group" style="display: none">				
					<div class="col-sm-6">
						<input type="text" class="form-control" id="guardianId" name="id"> 
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="guardianDated" name="datedStr"> 
					</div>
				</div>				
				<div class="form-group">
					<label class="control-label col-sm-2" for="guardianName">Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="guardianName" name="name"
							placeholder=" Guardian Name" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="guardianEmail">Email:</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="guardianEmail" name="email"
							placeholder="Email address">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="guardianMobile">Mobile:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="guardianMobile" name="mobile"
							placeholder="Mobile Number" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="guardianPhone">Phone:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="guardianPhone"
							name="phone" placeholder="Phone number">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="guardianTempAddress">T Address:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="guardianTempAddress" name="tempAddress"
							placeholder="Temporary Address" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="guardianPermAddress">P Address:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="guardianPermAddress"
							name="permAddress" placeholder="Permanent Address">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="guardianRelation">Relation:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="guardianRelation" name="relation"
							placeholder="Relation" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="guardianOccupation">Occupation:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="guardianOccupation"
							name="occupation" placeholder="Occupation" required="required">
					</div>
				</div>
				<div class="form-group">
 					<label class="control-label col-sm-2" th:text="#{label.select.status}" for="guardianStatus">Status:</label>
					<div class="col-sm-4">
						<select class="form-control" id="guardianStatus" name="status">
							<option class="dropdown-item" value="">Nothing Selected</option>					
							<option class="dropdown-item" value="Active">Active</option>
		 					<option class="dropdown-item" value="Inactive">Inactive</option>
		 				</select>
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addGuardian" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteGuardian" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetGuardian" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<div>
				<table id="tableGuardian" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-sm-1" data-field="guardianId">Id</th>
							<th class="col-sm-1" data-field="checkDelete">Check</th>
							<th class="col-sm-1" data-field="name">Name</th>
							<th class="col-sm-1" data-field="email">Email</th>
							<th class="col-sm-1" data-field="mobile">Mobile</th>
							<th class="col-sm-1" data-field="phone">Phone</th>
							<th class="col-sm-1" data-field="tempAddress">T Address</th>
							<th class="col-sm-1" data-field="permAddress">P Address</th>
							<th class="col-sm-1" data-field="relation">Relation</th>
							<th class="col-sm-1" data-field="occupation">Occupation</th>
							<th class="col-sm-1" data-field="guardianStatus">Status</th>
							<th class="col-sm-1" data-field="guardianDated">Dated</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>		
		<div id="StudentDiv" class="formDiv">
			<h3 th:text="#{label.student.form.heading}">Student Registration</h3>
			<br />
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Student" autocomplete="off">
				<div class="form-group" style="display: none">				
					<div class="col-sm-6">
						<input type="text" class="form-control" id="studentId" name="id"> 
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="ownerDated" name="datedStr"> 
					</div>
				</div>								
				<div class="form-group">
					<label class="control-label col-sm-2" for="studentName">Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="studentName" name="name"
							placeholder=" Student Name" required="required"> 
					</div>
					<label class="control-label col-sm-2" th:text="#{label.select.school}" for="studentSchoolDD">Please School</label> 
					<div class="col-sm-4">
						<select class="form-control" id="studentSchoolDD" name="schoolId" required="required">
						</select>
					</div>
				</div>
				<div class="form-group">				
					<label class="control-label col-sm-2" th:text="#{label.select.grade}" for="studentGradeDD">Please Grade</label> 
					<div class="col-sm-4">
						<select class="form-control" id="studentGradeDD" name="gradeId" required="required">
						</select>
					</div>
					<label class="control-label col-sm-2" th:text="#{label.select.guardian}" for="studentGuardianDD">Select Guardian</label> 
					<div class="col-sm-4">
						<select class="form-control" id="studentGuardianDD" name="guardianId" required="required">
						</select>
					</div>
				</div>
 				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.select.vehicle}" for="studentVehicleDD">Select Vehicle</label> 
					<div class="col-sm-4">
						<select class="form-control" id="studentVehicleDD" name="vehicleId" required="required">
						</select>
					</div>
					<label class="control-label col-sm-2" for="studentEnrollNo">Enroll No:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="studentEnrollNo" name="enrollNo"
							placeholder="Enrollment number" required="required"> 
					</div>
				</div>
 				<div class="form-group">
					<label class="control-label col-sm-2" for="studentEnrollDate">Enroll Date:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control datePicker" id="studentEnrollDate" name="enrollDate"
							placeholder="Select Enroll Date"> 
					</div>
					<label class="control-label col-sm-2" th:text="#{label.select.fee.mode}" for="studentFeeMode">Fee Mode:</label>
					<div class="col-sm-4">
						<select class="form-control" id="studentFeeMode" name="feeMode">
							<option class="dropdown-item" value=""> Nothing Selected </option>
							<option class="dropdown-item" value="Monthly">Monthly</option>
		 					<option class="dropdown-item" value="2 Month">2 Month</option>
		 					<option class="dropdown-item" value="3 Month">3 Month</option>
		 					<option class="dropdown-item" value="4 Month">4 Month</option>
		 					<option class="dropdown-item" value="5 Month">5 Month</option>
		 					<option class="dropdown-item" value="6 Month">6 Month</option>
		 					<option class="dropdown-item" value="Yealy">Yearly</option>
		 					<option class="dropdown-item" value="Randomly">Randomly</option>
		 				</select>
					</div>
				</div>
 				<div class="form-group">
					<label class="control-label col-sm-2" for="studentMobile">Mobile:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="studentMobile" name="mobile"
							placeholder="Mobile Number" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="studentEmail">Email:</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="studentEmail" name="email"
							placeholder="Email address">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.select.gender}" for="studentGender">Gender:</label>
					<div class="col-sm-4">
						<select class="form-control" id="studentGender" name="gender">
							<option class="dropdown-item" value=""> Nothing Selected </option>
							<option class="dropdown-item" value="Male">Male</option>
		 					<option class="dropdown-item" value="Female">Female</option>
		 				</select>
					</div>
					<label class="control-label col-sm-2" for="studentDateOfBirth">Date of Birth:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control datePicker" id="studentDateOfBirth" name="dateOfBirth"
							placeholder="Select DOB"> 
					</div>
				</div>
 				<div class="form-group">
					<label class="control-label col-sm-2" for="studentAddress">Address:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="studentAddress" name="address"
							placeholder=" Complete Address" required="required"> 
					</div>
					<label class="control-label col-sm-2" th:text="#{label.select.blood.group}" for="studentBloodBroup">Blood Group:</label>
					<div class="col-sm-4">
						<select class="form-control" id="studentBloodBroup" name="boodGroup">
							<option class="dropdown-item" value=""> Nothing Selected </option>
							<option class="dropdown-item" value="A+">A+</option>
		 					<option class="dropdown-item" value="A-">A-</option>
							<option class="dropdown-item" value="B+">B+</option>
		 					<option class="dropdown-item" value="B-">B-</option>
							<option class="dropdown-item" value="AB+">AB+</option>
		 					<option class="dropdown-item" value="AB-">AB-</option>
							<option class="dropdown-item" value="O++">O+</option>
		 					<option class="dropdown-item" value="O-">O-</option>
		 				</select>
					</div>
				</div>
 				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.select.status}" for="studentStatus">Status:</label>
					<div class="col-sm-4">
						<select class="form-control" id="studentStatus" name="status">
							<option class="dropdown-item" value="">Nothing Selected</option>
							<option class="dropdown-item" value="Active">Active</option>
		 					<option class="dropdown-item" value="Inactive">Inactive</option>
		 				</select>
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addStudent" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteStudent" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetStudent" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<div>
				<table id="tableStudent" class="table table-bordered table-striped">
					<thead>
						<tr>
							<div class="row">
								<th class="col-sm-1" data-field="staffId">Id</th>
								<th class="col-sm-1" data-field="checkDelete">Check</th>
	 							<th class="col-sm-1" data-field="studentName">Name</th>
								<th class="col-sm-1" data-field="studentSchoolDD">School</th>
								<th class="col-sm-1" data-field="studentGradeDD">Grade</th>
								<th class="col-sm-1" data-field="studentGuardianDD">Guardian</th>
								<th class="col-sm-1" data-field="studentVehicleDD">Vehicle</th>
								<th class="col-sm-1" data-field="studentEnrollNo">Enroll No</th>
								<th class="col-sm-1" data-field="studentEnrollDate">Enroll Date</th>
								<th class="col-sm-1" data-field="studentFeeMode">Fee Mode</th>
								<th class="col-sm-1" data-field="studentMobile">Mobile</th>
								<th class="col-sm-1" data-field="studentEmail">Email</th>
								<th class="col-sm-1" data-field="studentGender">Gender</th>
								<th class="col-sm-1" data-field="studentDateOfBirth">DOB</th>
								<th class="col-sm-1" data-field="studentBloodBroup">Blood Group</th>
	 							<th class="col-sm-1" data-field="studentAddress">Address</th>
								<th class="col-sm-1" data-field="studentStatus">Status</th>
								<th class="col-sm-1" data-field="studentDated">Updated</th>
							</div>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div id="SubjectDiv" class="formDiv">
			<h3 th:text="#{label.subject.form.heading}">Subject Registration</h3>
			<br />
			<!-- <form class="form-horizontal" role="form"> -->
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Subject" autocomplete="off">
				<div class="form-group" style="display: none">				
					<div class="col-sm-6">
						<input type="text" class="form-control" id="subjectId" name="id"> 
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="subjectDated" name="datedStr"> 
					</div>
				</div>				
				<div class="form-group">		
<!-- 					<label class="control-label col-sm-2" th:text="#{label.select.staff}" for="subjectStaffDD">Select Staff</label> 
					<div class="col-sm-4">
						<select class="form-control" id="subjectStaffDD" name="staffId" required="required">
						</select>
					</div>
 -->					
 					<label class="control-label col-sm-2" th:text="#{label.select.grade}" for="subjectGradeId">Select Grade</label> 
					<div class="col-sm-4">
						<select class="form-control" id="subjectGradeDD" name="gradeId" required="required">
						</select>
					</div>
					<label class="control-label col-sm-2" th:text="#{label.select.status}" for="subjectStatus">Status:</label>
					<div class="col-sm-4">
						<select	class="form-control" id="subjectStatus" name="status">
							<option class="dropdown-item" value="">Nothing Selected</option>
							<option class="dropdown-item" value="Active">Active</option>
		 					<option class="dropdown-item" value="Inactive">Inactive</option>
		 				</select>
					</div>
					
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="subjectName">Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="subjectName" name="name"
							placeholder=" Subject Name" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="subjectCode">Code:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="subjectCode" name="code"
							placeholder="Subject Code">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="subjectPublisher">Publisher:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="subjectPublisher" name="publisher"
							placeholder=" Enter Publisher"> 
					</div>
					<label class="control-label col-sm-2" for="subjectEdition">Edition:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="subjectEdition"
							name="edition" placeholder="Enter Edition">
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addSubject" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteSubject" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetSubject" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<div>
				<table id="tableSubject" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-sm-1" data-field="subjectId">Id</th>
							<th class="col-sm-1" data-field="checkDelete">Check</th>
							<th class="col-sm-2" data-field="gradeName">Grade</th>
							<th class="col-sm-1" data-field="name">Name</th>
							<th class="col-sm-1" data-field="code">code</th>
							<th class="col-sm-1" data-field="publisher">Publisher</th>
							<th class="col-sm-1" data-field="edition">Edition</th>
							<th class="col-sm-1" data-field="status">Status</th>
							<th class="col-sm-1" data-field="subjectDated">Dated</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>	
		<div id="VehicleDiv" class="formDiv">
			<h3 th:text="#{label.vehicle.form.heading}">Vehicle Registration</h3>
			<br />
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Vehicle" autocomplete="off">
				<div class="form-group" style="display: none">				
					<div class="col-sm-6">
						<input type="text" class="form-control" id="vehicleId" name="id"> 
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="vehicleDated" name="datedStr"> 
					</div>
				</div>				
				<div class="form-group">		
					<label class="control-label col-sm-2" th:text="#{label.select.school}" for="vehicleSchoolDD">Select School</label> 
					<div class="col-sm-4">
						<select class="form-control" id="vehicleSchoolDD" name="schoolId">
						</select>
					</div>
					<label class="control-label col-sm-2" th:text="#{label.select.status}" for="vehicleStatus">Status:</label>
					<div class="col-sm-4">
						<select	class="form-control" id="vehicleStatus" name="status">
							<option class="dropdown-item" value="">Nothing Selected</option>
							<option class="dropdown-item" value="Active">Active</option>
		 					<option class="dropdown-item" value="Inactive">Inactive</option>
		 				</select>
					</div>
				</div>
				<div class="form-group">		
					<label class="control-label col-sm-2" for="vehicleName">Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="vehicleName" name="name"
							placeholder=" Vehicle Name" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="vehicleNumber">Number:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="vehicleNumber" name="number"
							placeholder=" Vehicle Number" required="required"> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2"  for="vehicleDriverName">Driver Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="vehicleDriverName" name="driverName"
							placeholder=" Driver Name" required="required"> 
					</div>
					<label class="control-label col-sm-2"  for="vehicleDriverMobile">Driver Mobile:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="vehicleDriverMobile" name="driverMobile"
							placeholder=" Driver Mobile" required="required"> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2"  for="vehicleOwnerName">Owner Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="vehicleOwnerName" name="ownerName"
							placeholder=" Owner Name" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="vehicleOwnerMobile">Owner Mobile:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="vehicleOwnerMobile" name="ownerMobile"
							placeholder=" Owner Mobile" required="required"> 
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addVehicle" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
<!-- 					<button type="button" id="inactiveVehicle" class="btn btn-secondary">
						<span class="glyphicon glyphicon-ban-circle"></span> Inactive
					</button>
 -->					
 					<button type="button" id="deleteVehicle" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetVehicle" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<div>
				<table id="tableVehicle" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-sm-1" data-field="vehicleId">Id</th>
							<th class="col-sm-1" data-field="checkDelete">Check</th>
							<th class="col-sm-2" data-field="vehicleSchoolDD">School</th>
							<th class="col-sm-1" data-field="vehicleName">Vehicle</th>
							<th class="col-sm-1" data-field="vehicleNumber">Number</th>
							<th class="col-sm-1" data-field="vehicleDriverName">Driver Name</th>
							<th class="col-sm-1" data-field="vehicleDriverMobile">Driver Mobile</th>
							<th class="col-sm-1" data-field="vehicleOwnerName">Owner Name</th>
							<th class="col-sm-1" data-field="vehicleOwnerMobile">Owner Mobile</th>
							<th class="col-sm-1" data-field="vehicleStatus">Status</th>
							<th class="col-sm-1" data-field="vehicleDated">Dated</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>		
		<div id="DiscountDiv" class="formDiv">
			<h3 th:text="#{label.discount.form.heading}">Discount Registration</h3>
			<br />
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Discount" autocomplete="off">
				<div class="form-group" style="display: none">				
					<div class="col-sm-6">
						<input type="text" class="form-control" id="discountId" name="id"> 
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="discountDated" name="datedStr"> 
					</div>
				</div>				
				<div class="form-group">		
					<label class="control-label col-sm-2" th:text="#{label.select.school}" for="discountStudentDD">Select Student</label> 
					<div class="col-sm-4">
						<select class="form-control" id="discountStudentDD" name="schoolId" required="required">
						</select>
					</div>
					<label class="control-label col-sm-2" th:text="#{label.DiscountIn}" for="discountDscountIn">Discount In:</label>
					<div class="col-sm-4">
						<select	class="form-control" id="discountDscountIn" name="dscountIn">
							<option class="dropdown-item" value="">Nothing Selected</option>
							<option class="dropdown-item" value="Percent">Percent</option>
		 					<option class="dropdown-item" value="Amount">Amount</option>
		 				</select>
					</div>
				</div>
				<div class="form-group">		
					<label class="control-label col-sm-2" for="discountAmount">Amount:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="discountAmount" name="amount"
							placeholder=" Discount Number" required="required"> 
					</div>
					<label class="control-label col-sm-2" for="discountName">Type:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="discountName" name="name"
							placeholder=" Discount Name" required="required"> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.start.date}"  for="discountSartDate">Start Date:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="discountSartDate" name="start"
							placeholder=" Start Date" required="required"> 
					</div>
					<label class="control-label col-sm-2" th:text="#{label.end.date}"  for="discountEndDate">End Date:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="discountEndDate" name="end"
							placeholder=" End Date" required="required"> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.description}"  for="discountDescription">Description:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="discountDescription" name="ownerName"
							placeholder=" DiscountDescription" required="required"> 
					</div>
 					<label class="control-label col-sm-2" th:text="#{label.select.status}" for="discountStatus">Status:</label>
					<div class="col-sm-4">
						<select class="form-control" id="discountStatus" name="status">
							<option class="dropdown-item" value="">Nothing Selected</option>					
							<option class="dropdown-item" value="Active">Active</option>
		 					<option class="dropdown-item" value="Inactive">Inactive</option>
		 				</select>
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addDiscount" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteDiscount" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetDiscount" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<div>
				<table id="tableDiscount" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-sm-1" data-field="discountId">Id</th>
							<th class="col-sm-1" data-field="checkDelete">Check</th>
							<th class="col-sm-2" data-field="discountStudentDD">Student</th>
							<th class="col-sm-1" data-field="discountDscountIn">Discount In</th>
							<th class="col-sm-1" data-field="discountAmount">Amount</th>
							<th class="col-sm-2" data-field="discountName">Type</th>
							<th class="col-sm-1" data-field="discountSartDate">Start Date</th>
							<th class="col-sm-1" data-field="discountEndDate">End Date</th>
							<th class="col-sm-1" data-field="discountDescription">Description</th>
							<th class="col-sm-1" data-field="discountStatus">Status</th>
							<th class="col-sm-1" data-field="discountDated">Dated</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>		
		<div id="AlertsDiv" class="formDiv">
			<h3 th:text="#{label.alerts.form.heading}">Manage Alert</h3>
			<br />
			<form action="/" method="POST" class="form-horizontal" role="form"
				enctype="utf8" id="Alerts" autocomplete="off">
				<div class="form-group" style="display: none">				
					<div class="col-sm-6">
						<input type="text" class="form-control" id="aId" name="id"> 
					</div>
					<div class="col-sm-6">
					</div>
				</div>				
				<div class="form-group">		
					<label class="control-label col-sm-2" for="acdd">Select Consumers:</label>
					<div class="col-sm-4">
						<select multiple="multiple"	class="form-control" id="acdd" name="c" required="required">
							<option class="dropdown-item" value="">Nothing Selected</option>
							<option class="dropdown-item" value="Students">Students</option>
		 					<option class="dropdown-item" value="Guardians">Guardians</option>
							<option class="dropdown-item" value="Employees">Employees</option>
		 					<option class="dropdown-item" value="Drivers">Drivers</option>
							<option class="dropdown-item" value="Public">Public</option>
							<option class="dropdown-item" value="All">All</option>
		 				</select>
					</div>
					<label class="control-label col-sm-2" for="atdd">Alert Type:</label>
					<div class="col-sm-4">
						<select multiple="multiple"	class="form-control" id="atdd" name="at" required="required">
							<option class="dropdown-item" value="">Nothing Selected</option>
							<option class="dropdown-item" value="Notice Board">Notice Board</option>
		 					<option class="dropdown-item" value="Late Fee">Late Fee</option>
							<option class="dropdown-item" value="Fee Reviwed">Fee Reviwed</option>
		 					<option class="dropdown-item" value="Timing Issue">Timing Issue</option>
							<option class="dropdown-item" value="Performace">Performace</option>
							<option class="dropdown-item" value="Policies Reviwed">Policies Reviwed</option>
							<option class="dropdown-item" value="Ethics">Ethics</option>
							<option class="dropdown-item" value="Promotions">Promotions</option>
							<option class="dropdown-item" value="Holidays">Holidays</option>
							<option class="dropdown-item" value="Vacations">Vacations</option>
							<option class="dropdown-item" value="Attendance">Attendance</option>
		 				</select>
					</div>
				</div>
				<div class="form-group">		
					<label class="control-label col-sm-2" for="adcdd">Delivery Channel:</label>
					<div class="col-sm-4">
						<select multiple="multiple"	class="form-control" id="adcdd" name="dc" required="required">
							<option class="dropdown-item" value="">Nothing Selected</option>
							<option class="dropdown-item" value="SMS">SMS</option>
		 					<option class="dropdown-item" value="Email">Email</option>
							<option class="dropdown-item" value="Watts App">Watts App</option>
		 					<option class="dropdown-item" value="Facebook">Facebook</option>
							<option class="dropdown-item" value="Twitter">Twitter</option>
		 					<option class="dropdown-item" value="Instagram">Instagram</option>
		 				</select>
					</div>
					<label class="control-label col-sm-2" for="adpdd">Delivery Channel:</label>
					<div class="col-sm-4">
						<select multiple="multiple"	class="form-control" id="adpdd" name="dp" required="required">
							<option class="dropdown-item" value="">Nothing Selected</option>
							<option class="dropdown-item" value="Daily">Daily</option>
		 					<option class="dropdown-item" value="Weekly">Weekly</option>
							<option class="dropdown-item" value="Monthly">Monthly</option>
		 					<option class="dropdown-item" value="Quartly">Quartly</option>
							<option class="dropdown-item" value="Yearly">Yearly</option>
		 				</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="adtdd">Delivery Type:</label>
					<div class="col-sm-4">
						<select	class="form-control" id="adtdd" name="dt" required="required">
							<option class="dropdown-item" value="">Nothing Selected</option>
							<option class="dropdown-item" value="Manual">Manual</option>
		 					<option class="dropdown-item" value="Auto">Auto</option>
		 				</select>
					</div>
 					<label class="control-label col-sm-2" th:text="#{label.select.status}" for="ast">Status:</label>
					<div class="col-sm-4">
						<select class="form-control" id="ast" name="st">
							<option class="dropdown-item" value="">Nothing Selected</option>					
							<option class="dropdown-item" value="Active">Active</option>
		 					<option class="dropdown-item" value="Inactive">Inactive</option>
		 				</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" th:text="#{label.start.date}"  for="asd">Start Date:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control datePicker" id="asd" name="sdStr"
							placeholder=" Start Date"> 
					</div>
					<label class="control-label col-sm-2" th:text="#{label.end.date}"  for="aed">End Date:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control datePicker" id="aed" name="edStr"
							placeholder=" End Date"> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2"  for="ah">Heading:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="ah" name="ah"
							placeholder=" Message heading " required="required"> 
					</div>
					<div class="col-sm-6">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2"  for="am">Details:</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="5" id="am" name="am" placeholder="Enter message detail here..." required="required"></textarea> 
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2"  for="as">Signature:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="as" name="as"
							placeholder=" Message signature "> 
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="addAlerts" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Submit
					</button>
					<button type="button" id="deleteAlerts" class="btn btn-warning">
						<span class="glyphicon glyphicon-minus-sign"></span> Delete
					</button>
					<button type="reset" id="resetAlerts" class="btn btn-primary">
						<span class="glyphicon glyphicon-refresh"></span> Reset
					</button>
				</div>
			</form>
			<div>
				<table id="tableAlerts" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-sm-1" data-field="aId">Id</th>
							<th class="col-sm-1" data-field="checkAlerts">Check</th>
							<th class="col-sm-1" data-field="acdd">Consumer</th>
							<th class="col-sm-1" data-field="atdd">Type</th>
							<th class="col-sm-1" data-field="adcdd">Del. Channel</th>
							<th class="col-sm-1" data-field="adpdd">Del. Period</th>
							<th class="col-sm-1" data-field="adtdd">Del. Type</th>
							<th class="col-sm-1" data-field="ast">Status</th>
							<th class="col-sm-1" data-field="asd">Start Date</th>
							<th class="col-sm-1" data-field="aed">End Date</th>
							<th class="col-sm-1" data-field="ah">Heading</th>
							<th class="col-sm-1" data-field="am">Message</th>
							<th class="col-sm-1" data-field="as">Signature</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>		
			
	</div>
	<script th:inline="javascript">
var serverContext = [[@{/}]];
	</script>
	<div th:replace="footer :: footer" />
</body>
</html>
