<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="header :: header-css" />
</head>

<body>
	<div th:replace="header :: header" />

	<div class="container content-cls">
	
	<div id="messageDiv" class="alert alert-info" role="alert" data-auto-dismiss="2000" th:text="${message}">Message</div>
	<br/>
		<h2 th:text="#{label.hospital.form.heading}">Hospital Form</h2>
		<br />
		<form action="/" method="POST" enctype="utf8">
			<div class="form-group row">
				<label class="col-sm-3" th:text="#{label.country}">Country	Name</label> 
				<span class="col-sm-5">
					<select class="form-control" id="countryCode" name="countryCode"
						required="required">
						<option value="">Select Country</option>
						<option th:each="key : ${countries.keySet()}" th:value="${key}"
							th:utext="${countries.get(key)}" />
					</select> 
				</span>
			</div>
            <div class="form-group row">
              	<label class="col-sm-3" th:text="#{label.state}">Select State</label>
		        <span class="col-sm-5">
			        <select class="form-control" id="state" name="state" required="required">
			        </select>
		        </span>
		    </div>
            <div class="form-group row">
              	<label class="col-sm-3" th:text="#{label.city}">Select City</label>
		        <span class="col-sm-5">
			        <select class="form-control" id="geoId" name="geoId" required="required">
			        </select>
		        </span>
		    </div>
			<div class="form-group row">
				<label class="col-sm-3" th:text="#{label.name}">Hospital
					Name</label> <span class="col-sm-5"><input id="name"
					class="form-control" name="name" value="" required="required" /></span> 
			</div>
			<div class="form-group row">
				<label class="col-sm-3" th:text="#{label.mobile}">Phone
					NO</label> <span class="col-sm-5"><input id="phone"
					class="form-control" name="phone" value="" required="required" /></span> <span
					id="phoneError" class="alert alert-danger col-sm-4"
					style="display: none"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3" th:text="#{label.email}">Email</label> <span
					class="col-sm-5"><input type="email" class="form-control"
					name="email" value="" required="required" /></span> <span id="emailError"
					class="alert alert-danger col-sm-4" style="display: none"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3" th:text="#{label.hospital.hours}">Hospital
					Timing</label> 
					<span class="col-sm-5">
					<select class="form-control" id="hour" name="hours"
					required="required">
					<option th:each="i : ${#numbers.sequence(1, 24)}" th:value="${i}"
						th:text="${i}" th:selected="${i==24}" value=""></option>
				</select>
				</span>
			</div>
<!-- 			
			<div class="form-group row">
				<label class="col-sm-3"	th:text="#{label.hospital.appointmentOfferType}">Appointment Type</label> 
				<span class="col-sm-5">
					<select class="form-control" id="appointmentOfferType" name="appointmentOfferType" required="required">
						<option value="" selected="selected">Select Type</option>
						<option value="count">Number Of	Patient</option>
						<option value="minutes">Time slot for each patient</option>
					</select>
				</span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3"
					th:text="#{label.hospital.appointmentOfferValue}">Total
					patients / minutes for each patient</label> <span class="col-sm-5"><input
					class="form-control" name="appointmentOfferValue" value=""
					required="required" /></span> <span id="cityError"
					class="alert alert-danger col-sm-4" style="display: none"></span>
			</div>

 -->			<br />
			<button type="submit" class="btn btn-info btn-cls"
				th:text="#{label.form.submit}">submit</button>
		</form>
	</div>


	<script th:inline="javascript">
var serverContext = [[@{/}]];

$(document).ready(function () {
	$('form').submit(function(event) {
		registerHospital(event);
	});
	
	$("#countryCode").change(function() {
		loadStatesByCountry();
    });
	$("#state").change(function() {
		loadCitiesByState();
    });
	
});

function registerHospital(event){
	event.preventDefault();
    $(".alert").html("").hide();
    $(".error-list").html("");
    //$("#messageDiv").hide();
   
    var formData= $('form').serialize();
   
    $.post(serverContext + "registerHospital",formData ,function(data){
        	$("#messageDiv").append(data.message).show();
        	return false;
/*             window.location.href = serverContext + "successRegister.html"; */
    })
    .fail(function(data) {
    	alert(data.responseJSON.message);
    	/*
        if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else if(data.responseJSON.error == "UserAlreadyExist"){
            $("#emailError").show().html(data.responseJSON.message);
        }
        else if(data.responseJSON.error.indexOf("InternalError") > -1){
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
        else*/
        {
        	var errors = $.parseJSON(data.responseJSON.message);
            $.each( errors, function( index,item ){
            	if (item.field){
            		$("#"+item.field+"Error").show().append(item.defaultMessage+"<br/>");
            	}
            	else {
            		$("#globalError").show().append(item.defaultMessage+"<br/>");
            	}
               
            });
        }
    });
}


function loadStatesByCountry() {	
	$("#geoId").empty();
    var countryCode = $("#countryCode").val();
    console.log(countryCode);
    if(countryCode=="" || countryCode==null){
    	$("#state").append("<option value = ''> Select State </option>");
    	$("#geoId").append("<option value = ''> Select City </option>");
    	return false;
    }else{
    	$("#state").append("<option value = ''> Please wait....  </option>");
    }
    
//	$("#state").append("./resources/img/waiting-animation.gif");
    $.get(serverContext+ "loadStatesByCountry?countryCode="+countryCode ,function(data){
    	$("#state").empty().append(data);
    })
	.fail(function(data) {
		alert(xhr.responseText);
		$("#state").empty().append("<option value = ''> System error  </option>");
	});
}

function loadCitiesByState() {
	$("#geoId").empty();
    var state = $("#state").val();
    console.log(state);
    if(state=="" || state==null){
    	$("#geoId").append("<option value = ''> Select City </option>");
    	return false;
    }else{
    	$("#geoId").append("<option value = ''> Please wait....  </option>");
    }
    
//	$("#geoId").append("./resources/img/waiting-animation.gif");    
    $.get(serverContext+ "loadCitiesByState?state="+state ,function(data){
    	$("#geoId").empty().append(data);
    })
	.fail(function(data) {
		alert(xhr.responseText);
		$("#geoId").empty().append("<option value = ''> System error  </option>");
	});
}

</script>
	<div th:replace="footer :: footer"></div>
</body>
</html>
