<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<style>
.password-verdict{
color:#000;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/resources/pwstrength.js}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title th:text="#{label.form.title}">form</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/home.html}" th:text="#{label.pages.home.title}">home</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a> </li>
      </ul>
    </div>
</nav>

    <div class="container">
		<span>Add hospital</span>
		<div class="container">
	        <div >
	            <h1 th:text="#{label.form.title}">form</h1>
	            <br/>
	            <form action="/" method="POST" enctype="utf8" >
	                <div class="form-group row">
	                    <label class="col-sm-3" th:text="#{label.hospital.name}">Hospital Name</label>
	                    <span class="col-sm-5"><input id="name" class="form-control" name="name" value="" required="required"/></span>
	                    <span id="hospitalNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                </div>
	                <div class="form-group row">
	                    <label class="col-sm-3" th:text="#{label.hospital.phoneNo}">Phone NO</label>
	                    <span class="col-sm-5"><input id="phone" class="form-control" name="phone" value="" required="required"/></span>
	                    <span id="phoneError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                </div>
	                <div class="form-group row">
	                    <label class="col-sm-3" th:text="#{label.hospital.mail}">Email</label>
	                    <span class="col-sm-5"><input type="email" class="form-control" name="email" value="" required="required"/></span>                    
	                    <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                </div>
<!-- 	                <div class="form-group row">
	                    <label class="col-sm-3" th:text="#{label.hospital.country}">Country</label>
	                    <span class="col-sm-5"><input class="form-control" name="country" value="" required="required"/></span>
	                    <span id="countryError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                    
	                </div>
	                <div class="form-group row">
	                    <label class="col-sm-3" th:text="#{label.hospital.state}">State</label>
	                    <span class="col-sm-5"><input id="state" class="form-control" name="state" value="" required="required"/></span>
	                    <span id="stateError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                </div>
	                <div class="form-group row" >
	                    <label class="col-sm-3" th:text="#{label.hospital.city}">City</label>
	                    <span class="col-sm-5"><input class="form-control" name="city" value="" required="required"/></span>
	                    <span id="cityError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                </div>
 -->	                <div class="form-group row" >
	                    <label class="col-sm-3" th:text="#{label.hospital.hours}">Hospital Timing</label>
	                    <select class="col-sm-5" id="hour" name="hours" required="required">
						    <option th:each="i : ${#numbers.sequence(1, 24)}" th:value="${i}" th:text="${i}"
						      th:selected="${i==8}" value=""></option>
						</select>
	                </div>
	               	<div class="form-group row" >
	                    <label class="col-sm-3" th:text="#{label.hospital.appointmentOfferType}">Appointment type</label>
		                <select class="col-sm-5" id="appointmentOfferType" name="appointmentOfferType" required="required">	                
    						<option value="count" selected="selected"> Number Of Patient </option>
    						<option value="minutes"> Time slot for each patient </option>
						</select>
	                </div>
	               	<div class="form-group row" >
	                    <label class="col-sm-3" th:text="#{label.hospital.appointmentOfferValue}">Total patients / minutes for each patient</label>
	                    <span class="col-sm-5"><input class="form-control" name="appointmentOfferValue" value="" required="required"/></span>
	                    <span id="cityError" class="alert alert-danger col-sm-4" style="display:none"></span>
	                </div>
	                <br/>
	                <button type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>
	            </form>
	        </div>
	    </div>
    </div>
    

<script th:inline="javascript">
var serverContext = [[@{/}]];

$(document).ready(function () {
	$('form').submit(function(event) {
		registerHospital(event);
	});
});

function registerHospital(event){
	event.preventDefault();
    $(".alert").html("").hide();
    $(".error-list").html("");
   
    var formData= $('form').serialize();
   
    $.post(serverContext + "registerHospital",formData ,function(data){
        if(data.message == "success"){
            window.location.href = serverContext + "successRegister.html";
        }
    })
    .fail(function(data) {
    	alert(data.responseJSON.message);
    	/*
        if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else if(data.responseJSON.error == "UserAlreadyExist"){
            $("#emailError").show().html(data.responseJSON.message);
        }
        else if(data.responseJSON.error.indexOf("InternalError") > -1){
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
        else*/
        {
        	var errors = $.parseJSON(data.responseJSON.message);
            $.each( errors, function( index,item ){
            	if (item.field){
            		$("#"+item.field+"Error").show().append(item.defaultMessage+"<br/>");
            	}
            	else {
            		$("#globalError").show().append(item.defaultMessage+"<br/>");
            	}
               
            });
        }
    });
}

</script>    
</body>
</html>
