<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./resources/main.css" />
	<title th:text="#{label.pages.home.title}">Title</title>
</head>
<body>
   	<div id="container">
		<nav th:fragment="header" class="navbar-inverse">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-right">
		            <li th:if="${#authorization.expression('!isAuthenticated()')}">
		              <a href="/login" th:href="@{/login}">
		                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;login
		              </a>
		            </li>
				</ul>
			</div>
		</nav>
	    <div id="content">
		    <div id="content-wrap">
			    <h3 class="alert alert-danger" th:text="#{message.sessionExpired}">expired</h3>
		   </div>
	    </div>
	    <div th:replace="footer :: footer"/>
	  </div> 
</body>
</html>