<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/jpg" sizes="60x50" href="resources/favicon.jpeg"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./resources/main.css" />
  <script src="./resources/js/jquery-3.3.1.js"></script>
  <script src="./resources/bootstrap/js/bootstrap.min.js"></script>
  <!-- <script src="./resources/js/main.js"></script> -->
  
<title th:text="#{label.pages.home.title}">Title</title>
<script th:inline="javascript">
	function validate() {
        if (document.f.username.value == "" && document.f.password.value == "") {
            alert(/*[[#{message.username} + #{message.password}]]*/);
            document.f.username.focus();
            return false;
        }
        if (document.f.username.value == "") {
            alert(/*[[#{message.username}]]*/);
            document.f.username.focus();
            return false;
        }
        if (document.f.password.value == "") {
            alert(/*[[#{message.password}]]*/);
            document.f.password.focus();
            return false;
        }
    }
    
</script>
<style type="text/css">
.wrapper{max-width:450px;margin-left:auto;margin-right:auto;padding-top: 50px;}
label{padding-left:0 !important}
</style>
</head>
<body>
<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>


<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
	<div th:fragment="header" class="navbar-default hdr-cls">
		<nav class="container">
		</nav>
	</div>

    <div class="container content-cls">
        <div class="row wrapper">
            <h1 th:text="#{label.form.loginTitle}">Header</h1>
             <a href="?lang=en" th:text="#{label.form.loginEnglish}">login</a> | 
             <a href="?lang=es_ES" th:text="#{label.form.loginSpanish}">login</a>
             <br/><br/>
            <form name='f' action="home" method='POST' onsubmit="return validate();">
                 <div class="form-group">
	                 <label th:text="#{label.form.loginEmail}">Email</label>
	                 <input class="form-control" type='text' name='username' value=''/>
	                  <br/>
	                 <label th:text="#{label.form.loginPass}">password</label>
	                <input id="lPassword" class="form-control" type='password' name='password' onkeypress="handleEnterKey(event,'enter','submit')"/>
	<!--                 <br/><br/>        
	                 <label class="col-sm-4" th:text="#{label.form.login2fa}">Google Authenticator Verification Code</label>
	                 <span class="col-sm-8"><input class="form-control" type='text' name='code' /></span>
	 -->                
					 <br/>
	                 <input id="submit" class="btn btn-default btn-cls" name="submit" type="submit" th:value="#{label.form.login}" />
		             <a class="btn btn-default btn-cls" th:href="@{/registration.html}" th:text="#{label.form.siguUp}">signup</a>
	  			</div>
            </form>
            <br/> Current Locale :  <span th:text="${#locale}"></span><br/><br/> 
             <a class="btn btn-default btn-cls" th:href="@{/appointment}" th:text="#{label.form.appointment}">Appointment</a>
             <!-- <a class="btn btn-default" th:href="@{/registrationCaptcha.html}" th:text="#{label.form.loginSignUpCaptcha}">captcha signup</a> -->
	         <a class="btn btn-default btn-cls" th:href="@{/forgetPassword.html}" th:text="#{message.resetPassword}">reset</a>
        </div>
    </div>
    <div th:replace="footer :: footer"/>
</body>

</html>