<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{label.pages.home.title}">Title</title>

    <link rel="icon" type="image/jpg" sizes="60x50" th:href="@{/favicon.jpeg}"/>

    <!-- ✅ th:href on all CSS links -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/main.css}"/>


    <style type="text/css">
        .wrapper { max-width: 450px; margin-left: auto; margin-right: auto; padding-top: 50px; }
        label { padding-left: 0 !important }
    </style>

    <script th:inline="javascript">
        function validate() {
            if (document.f.username.value == "" && document.f.password.value == "") {
                alert(/*[[#{message.username} + #{message.password}]]*/);
                document.f.username.focus();
                return false;
            }
            if (document.f.username.value == "") {
                alert(/*[[#{message.username}]]*/);
                document.f.username.focus();
                return false;
            }
            if (document.f.password.value == "") {
                alert(/*[[#{message.password}]]*/);
                document.f.password.focus();
                return false;
            }
        }
    </script>
</head>
<body>
    <div id="container">
        <div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
        <div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="navbar-header active">
                            <img th:src="@{/favicon.png}" height="50" width="42" title="Maximize your services"/>
                        </div>
                    </li>
                    <li>
                        <a th:href="@{/home}">
                            <span class="text-uppercase" th:text="#{label.islamic.channels}">&nbsp;Home</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content">
            <div class="row wrapper">
                <h1 th:text="#{label.form.loginTitle}">Header</h1>
                <a href="?lang=en" th:text="#{label.form.loginEnglish}">login</a> |
                <a href="?lang=es_ES" th:text="#{label.form.loginSpanish}">login</a>
                <br/><br/>

                <!-- ✅ Form action is correct -->
                <form name='f' th:action="@{/login}" method='POST' onsubmit="return validate();">
                    <div class="form-group">
                        <label th:text="#{label.form.loginEmail}">Email</label>
                        <input class="form-control" type='text' name='username' value=''/>
                        <br/>
                        <label th:text="#{label.form.loginPass}">Password</label>
                        <input id="lPassword" class="form-control" type='password' name='password'
                               onkeypress="handleEnterKey(event,'enter','submit')"/>
                        <br/>
                        <input id="submit" class="btn btn-default btn-cls" name="submit"
                               type="submit" th:value="#{label.form.login}"/>
                        <a class="btn btn-default btn-cls" th:href="@{/registration.html}"
                           th:text="#{label.form.siguUp}">signup</a>
                    </div>
                </form>

                <br/> Current Locale: <span th:text="${#locale}"></span><br/><br/>
                <a class="btn btn-default btn-cls" th:href="@{/appointment}" th:text="#{label.form.appointment}">Appointment</a>
                <!-- <a class="btn btn-default btn-cls" th:href="@{/forgetPassword.html}" th:text="#{message.resetPassword}">reset</a> -->
            </div>
        </div>

        <!-- ✅ Fixed footer fragment path -->
		     <!-- ✅ JS at bottom is better but these are small so ok here -->
    	<script th:src="@{/js/jquery-3.3.1.js}"></script>
    	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

        <th:block th:replace="~{fragments/footer :: footer}"/>
    </div>
</body>
</html>